/* Calendar */
table.booked-calendar tr.days th {
	border: 1px solid #ddd !important;
}
table.booked-calendar td,
table.booked-calendar td+td {
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

/* Booked form */
body .booked-form .field .checkbox-radio-block label {
	padding-left: 1.4em;
}

/* Login form */
#booked-page-form .login-remember input {
	display: inline;
	vertical-align:middle;
}

#booked-profile-page i.fa {
	color: inherit;
}

/* User profile header */
#booked-profile-page div.booked-profile-header {
	padding: 0 0 2em;
}
#booked-profile-page div.booked-user-avatar {
	width: 50px;
	height:50px;
}
#booked-profile-page div.booked-user-avatar img {
	-webkit-border-radius: 50%;
	    -ms-border-radius: 50%;
			border-radius: 50%;
}
#booked-profile-page .booked-user h3 strong {
	font-weight:400;
}

/* User profile content */
#booked-profile-page div.booked-tab-content {
	-webkit-border-radius: 0;
	    -ms-border-radius: 0;
			border-radius: 0;
}
body .booked-calendar-wrap .booked-appt-list .timeslot .timeslot-people {
	height: auto;
	padding: 18px 0 18px 0;
}
body .booked-modal .bm-window {
	width: 500px;
}
body #booked-profile-page input[type=submit].button-primary:hover, body table.booked-calendar input[type=submit].button-primary:hover, body .booked-list-view input[type=submit].button-primary:hover, body .booked-modal input[type=submit].button-primary:hover,
body #booked-profile-page input[type=submit]:hover, body #booked-profile-page button:hover, body .booked-list-view input[type=submit]:hover, body .booked-list-view button:hover, body table.booked-calendar input[type=submit]:hover, body table.booked-calendar button:hover, body .booked-modal input[type=submit]:hover, body .booked-modal button:hover {
	border-width: 2px;
}
body table.booked-calendar {
	overflow: hidden;
}
body table.booked-calendar thead th {
	border: 0;
}