/* ThemeREX Addons
------------------------------------------------------------------------------------ */

.sc_content_width_1_1 {	width: 1170px; }
.sc_content_width_1_2 {	width: 585px; }
.sc_content_width_1_3 {	width: 390px; }
.sc_content_width_2_3 {	width: 780px; }
.sc_content_width_1_4 {	width: 292.5px; }
.sc_content_width_3_4 {	width: 877.5px; }

/* Grid */
.trx_addons_container, .trx_addons_container-fluid {
	padding-left:  15px;
	padding-right: 15px;
}
.trx_addons_columns_wrap {
	margin-right: -30px;
}
.trx_addons_columns_wrap > [class*="trx_addons_column-"] {
	padding-right: 30px;
}
.trx_addons_columns_wrap.columns_padding_left {
	margin-left: -30px;
}
.trx_addons_columns_wrap.columns_padding_left > [class*="trx_addons_column-"],
.trx_addons_columns_wrap > [class*="trx_addons_column-"].columns_padding_left {
	padding-left: 30px;
}
.trx_addons_columns_wrap.columns_padding_right {
	margin-right: -30px;
}
.trx_addons_columns_wrap.columns_padding_right > [class*="trx_addons_column-"],
.trx_addons_columns_wrap > [class*="trx_addons_column-"].columns_padding_right {
	padding-right:30px;
}
.trx_addons_columns_wrap.columns_padding_center {
	margin-left: -15px;
	margin-right: -15px;
}
.trx_addons_columns_wrap.columns_padding_center > [class*="trx_addons_column-"],
.trx_addons_columns_wrap > [class*="trx_addons_column-"].columns_padding_center {
	padding-left:30px;
}
.trx_addons_columns_wrap.columns_padding_bottom > [class*="trx_addons_column-"],
.trx_addons_columns_wrap > [class*="trx_addons_column-"].columns_padding_bottom {
	padding-bottom: 30px;
}

.sidebar .trx_addons_columns_wrap {
	margin-right: 0;
}
.sidebar .trx_addons_columns_wrap [class*="trx_addons_column-"] {
	display:block;
	width: 100%;
	padding: 0;
}

.trx_addons_scroll_to_top {
	border: none;
}
/*
body.page.home .trx_addons_scroll_to_top {
	display:none !important;
}
*/
.menu_style_right .trx_addons_scroll_to_top {
	right: 1em;
}


/* Layouts
---------------------------------------------- */
.menu_style_left .sc_layouts_row_fixed_on {
	padding-left: 6rem;
}
.menu_style_right .sc_layouts_row_fixed_on {
	padding-right: 6rem;
}
.header_position_under .top_panel .wpb_row {
	background-color: transparent !important;
}

.top_panel.with_bg_image .sc_layouts_row {
	background-color:transparent;
}


/* Search field inside content */
.content .search_wrap {
	max-width:50%;
	margin:0;
}
.post_item_none_search .search_wrap,
.post_item_none_archive .search_wrap {
	max-width:none;
}
.content .search_wrap .search_form_wrap {
	width: 100%;
}
.content .search_wrap .search_form_wrap .search_field {
	width:100%;
}
.content .search_wrap .search_submit {
	background-color:transparent;
}
.post_item_none_search .search_wrap .search_field,
.post_item_none_archive .search_wrap .search_field {
	padding: 0.5em 4em 0.5em 2em;
}
.post_item_none_search .search_wrap .search_submit,
.post_item_none_archive .search_wrap .search_submit {
	left: auto;
	right: 0.7em;
	top: 0;
	padding: 0 1em;
	border: 0;
}
.content .search_wrap .search_results {
	width:100%;
}


/* Headers layouts
---------------------------------------------- */
.sc_layouts_item_details_line1 {
	font-weight:500;
}
.sc_layouts_item_details_line2 {
	font-weight:600;
}
.sc_layouts_row_type_narrow .sc_layouts_item {
	font-size: 0.8667em;
	line-height:1.4615em;
	letter-spacing:0;
}
.sc_layouts_row_type_compact .sc_layouts_item,
.sc_layouts_row_type_normal .sc_layouts_item {
	letter-spacing:0;
}

.sc_layouts_menu_nav li[class*="columns-"] li.menu-item-has-children > a {
	font-weight:600;
	font-size: 1.0769em;
}


/* Slider
---------------------------------------------- */

/* Pagination */
.slider_swiper .swiper-pagination-bullet,
.slider_swiper_outer .swiper-pagination-bullet {
	border: 0;
	background-color: transparent;
	width: 9px;
	height: 9px;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	opacity: 1;
	-webkit-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	position: relative;
}
.slider_swiper .swiper-pagination-bullet:before,
.slider_swiper_outer .swiper-pagination-bullet:before {
	content: '';
	position: absolute;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	background-clip: content-box;
	width: 21px;
	height: 21px;
	top: -6px;
	left: -6px;
	border: 2px solid;
	-webkit-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	opacity: 0;
	-webkit-transition: all ease .3s;
	-ms-transition: all ease .3s;
	transition: all ease .3s;
}
.slider_swiper .swiper-pagination-bullet.swiper-pagination-bullet-active:before,
.slider_swiper_outer .swiper-pagination-bullet.swiper-pagination-bullet-active:before {
	opacity: 1;
}
.slider_swiper.slider_pagination_pos_right .swiper-pagination-bullets {
	right: 5em;
}
.slider_swiper.slider_pagination_pos_left .swiper-pagination-bullets {
	left: 5em;
}
.slider_swiper.slider_pagination_pos_left .swiper-pagination-bullet, .slider_swiper.slider_pagination_pos_right .swiper-pagination-bullet {
	margin: 17px 0 0 0;
}
.sidebar .slider_pagination_pos_bottom > .swiper-pagination,
.sidebar .slider_outer_pagination_pos_bottom > .swiper-pagination {
	bottom: 0.5em;
}
.sidebar .slider_swiper .swiper-pagination-bullet,
.sidebar .slider_swiper_outer .swiper-pagination-bullet {
	width: 8px;
	height: 8px;
}

/* Controls */
.sidebar .slider_swiper_outer .slider_controls_wrap,
.sidebar .slider_swiper.slider_controls_side .slider_controls_wrap {
	display:none;
}
.sc_slider_controls .slider_controls_wrap > a,
.slider_swiper.slider_controls_side .slider_controls_wrap > a,
.slider_outer_controls_side .slider_controls_wrap > a,
.slider_outer_controls_top .slider_controls_wrap > a,
.slider_outer_controls_bottom .slider_controls_wrap > a {
	width: 4.2em;
	height: 2.8em;
	line-height: 2.8em;
}
.slider_swiper.slider_controls_side .slider_controls_wrap > .slider_prev,
.slider_outer_controls_side .slider_controls_wrap > .slider_prev {
	opacity: 0;
	margin-left: -100px;
	left: 0;
}
.slider_swiper.slider_controls_side .slider_next,
.slider_outer_controls_side .slider_controls_wrap > .slider_next {
	opacity: 0;
	margin-right:-100px;
	right: 0;
}
.slider_swiper.slider_controls_side:hover .slider_controls_wrap > a,
.slider_outer_controls_side:hover + .slider_controls_wrap > a {
	opacity: 1;
	margin-left:0;
	margin-right:0;
}

.sc_slider_controls .slider_controls_wrap > a:before,
.slider_swiper.slider_controls_side .slider_controls_wrap > a:before,
.slider_outer_controls_side .slider_controls_wrap > a:before,
.slider_outer_controls_top .slider_controls_wrap > a:before,
.slider_outer_controls_bottom .slider_controls_wrap > a:before {
	font-family:'fontello';
	font-size:1.6em;
}
.sc_slider_controls .slider_controls_wrap > .slider_prev:before,
.slider_swiper.slider_controls_side .slider_controls_wrap > .slider_prev:before,
.slider_outer_controls_side .slider_controls_wrap > .slider_prev:before,
.slider_outer_controls_top .slider_controls_wrap > .slider_prev:before,
.slider_outer_controls_bottom .slider_controls_wrap > .slider_prev:before {
	content: '\e939';
}
.sc_slider_controls .slider_controls_wrap > .slider_next:before,
.slider_swiper.slider_controls_side .slider_controls_wrap > .slider_next:before,
.slider_outer_controls_side .slider_controls_wrap > .slider_next:before,
.slider_outer_controls_top .slider_controls_wrap > .slider_next:before,
.slider_outer_controls_bottom .slider_controls_wrap > .slider_next:before {
	content: '\e93a';
}

.slider_style_modern .slider_controls_label span:first-child {
	font-style: italic;
	letter-spacing: 0;
}
.sc_slider_controller .slider_swiper_outer.slider_outer_controls_side .slider_controls_wrap > a,
.slider_style_modern .slider_swiper.slider_controls_side .slider_controls_wrap > a,
.slider_style_modern.slider_outer_controls_side .slider_controls_wrap > a {
	opacity: 1;
}


.header_widgets_wrap .slider_swiper .slide_overlay.slide_overlay_large {
	background-color: transparent;
}
.slider_swiper.slider_titles_center .slide_info.slide_info_large {
	padding:3em 2em;
	width: 50%;
}
.header_widgets_wrap .slider_swiper.slider_titles_center:not(.slider_multi) .slide_info.slide_info_large {
	width: 18em;
}

.sidebar .slider_swiper.slider_multi .slide_info:not(.slide_info_large),
.sidebar .slider_swiper .slide_info:not(.slide_info_large) {
	bottom: 8px;
}

.slider_swiper .slide_info {
	line-height:1.3em;
}

.slider_swiper .slide_info.slide_info_large .slide_cats {
	color: transparent !important;
}
.slider_swiper .slide_info.slide_info_large .slide_cats a {
	font-size: 0.8667em;
	line-height:1.7333em;
	font-weight: 500;
	text-transform:uppercase;
}
.slider_swiper .slide_info.slide_info_large .slide_title {
	font-size: 1.4em;
	font-weight:500;
	line-height:1.5em;
	text-transform:uppercase;
	letter-spacing:2px;
	margin: 0.5em 0;
}
.slider_swiper .slide_info.slide_info_large .slide_date {
	font-size:0.9333em;
	font-style:italic;
}
.sidebar .slider_swiper.slider_multi .slide_title,
.sidebar .slider_swiper .slide_info:not(.slide_info_large) .slide_title {
	font-size: 1em;
}
.sidebar .slider_swiper.slider_multi .slide_date,
.sidebar .slider_swiper .slide_info:not(.slide_info_large) .slide_date {
	font-size: 12px;
	line-height:16px;
}

.slider_titles_outside_wrap .slide_cats,
.slider_titles_outside_wrap .slide_subtitle {
	font-style: italic;
	letter-spacing:0;
}

.sc_slider_controller_info {
	font-size: 1.3333em;
	line-height:1.2em;
	font-weight:normal;
	font-style:normal;
	letter-spacing:0;
	width: 85%;
}
.sc_slider_controller_titles .sc_slider_controller_info {
	text-transform: uppercase;
}
.sc_slider_controller_thumbs .sc_slider_controller_info {
	font-size: 1.2em;
	line-height:1.2em;
	display:none;
}
.sc_slider_controller_thumbs .sc_slider_controller_info_number {
	color: #ccc;
}
.sc_slider_controller_thumbs .sc_slider_controller_info_title {
	color: #fff;
}



/* Widgets
---------------------------------------------- */
.footer_wrap .sc_layouts_row {
	line-height: 1.7857em;
}

.footer_wrap .sc_layouts_item {
	margin-top: 0;
	margin-bottom: 0;
}

.widget.widget_bg_image {
	padding: 2em 1.5em !important;	/* to override .columns_wrap > .column rules */
}
.widget.widget_bg_image * {
	color: #aaa !important;
}
.widget.widget_bg_image .widget_title,
.widget.widget_bg_image .widget_content a {
	color: #ddd !important;
}
.widget.widget_bg_image .widget_title,
.widget.widget_bg_image .widget_content a:hover {
	color: #fff !important;
}

/* About Me */
.widget_aboutme .aboutme_avatar img {
	width:100%;
	height: auto;
}
.widget_aboutme .aboutme_username {
	text-align:left;
	font-size:1em;
}
.widget_aboutme .aboutme_description {
	margin-top: 1em;
	text-align:left;
	line-height: 1.6em;
}

/* Most Popular */
.widget .trx_addons_tabs .trx_addons_tabs_titles li {
	font-size: 12px;
	font-weight:500;
	font-style:normal;
	line-height: 1.3em;
	text-transform:uppercase;
	letter-spacing:0;
}
.widget .trx_addons_tabs .trx_addons_tabs_titles li:after {
	display:none !important;
}
.widget .trx_addons_tabs .trx_addons_tabs_titles li + li {
	margin-left:0.5em;
}
.widget .trx_addons_tabs .trx_addons_tabs_titles li a {
	padding: 0.3em 0.5em;
}

/* Categories list */
.widget_categories_list[class*="column-"] [class*="column-"],
.sidebar .widget_categories_list [class*="column-"] {
	width:100%;
	float:none;
	overflow:hidden;
}
.widget_categories_list[class*="column-"] [class*="column-"]+[class*="column-"],
.sidebar .widget_categories_list [class*="column-"]+[class*="column-"] {
	margin-top:0.5em;
}
.widget_categories_list[class*="column-"] .categories_list_style_1 .categories_list_item,
.sidebar .widget_categories_list .categories_list_style_1 .categories_list_item {
	text-align:left;
}
.widget_categories_list[class*="column-"] .categories_list_style_1 .categories_list_image {
	display:inline-block;
	width: 20%;
}
.sidebar .widget_categories_list .categories_list_style_1 .categories_list_image {
	display:inline-block;
	width: 32px;
	vertical-align:middle;
}
.widget_categories_list[class*="column-"] .categories_list_style_1 .categories_list_image img,
.sidebar .widget_categories_list .categories_list_style_1 .categories_list_image img {
	width: 100%;
	height: auto;
}
.widget_categories_list[class*="column-"] .categories_list_style_1 .categories_list_title,
.sidebar .widget_categories_list .categories_list_style_1 .categories_list_title {
	display:inline-block;
	vertical-align:middle;
	width: 70%;
	margin: 0;
	font-size:1em;
	text-align:left;
	text-transform:none;
	-webkit-box-sizing: border-box;
	    -ms-box-sizing: border-box;
	        box-sizing: border-box;
}
.widget_categories_list[class*="column-"] .categories_list_style_1 .categories_list_image + .categories_list_title,
.sidebar .widget_categories_list .categories_list_style_1 .categories_list_image + .categories_list_title {
	padding-left: 1em;
}


/* Recent News + Shortcode Recent News */
body.expand_content .sc_recent_news_style_news-announce .post_size_full { height: 656px; }
body.expand_content .sc_recent_news_style_news-announce .post_size_big { height: 328px;  }
body.expand_content .sc_recent_news_style_news-announce .post_size_medium,
body.expand_content .sc_recent_news_style_news-announce .post_size_small { height: 164px;  }
.sc_recent_news .post_counters .post_counters_edit a {
	background-color:transparent !important;
}
.sidebar .sc_recent_news .post_item .post_title,
.footer .sc_recent_news .post_item .post_title {
	font-size: 1em;
}
.sidebar .sc_recent_news .post_item .post_content,
.footer .sc_recent_news .post_item .post_content {
	font-size: 0.8667em;
	line-height:1.3846em;
}
.sc_recent_news .post_accented_off .post_featured.with_thumb .post_video_hover {
	font-size: 1.2em;
}
.sc_recent_news .post_accented_off .slider_controls_wrap {
	display:none;
}
.sc_recent_news .post_accented_off .slider_pagination_wrap {
	bottom: 0;
}
.sc_recent_news .post_accented_off .slider_pagination_wrap .swiper-pagination-bullet {
	width: 6px;
	height: 6px;
	margin-right:3px;
}

/* Recent posts & Most Popular posts & Search Results */
.widget_area .post_item,
.widget .post_item {
	background-color: transparent !important;
}
.widget .post_item + .post_item {
	margin-top:1.85em;
	padding-top: 0;
	border-top: none;
}
.search_results.widget_area .post_item + .post_item {
	border-top:1px solid #e5e5e5;
	margin-top:1.6em;
	padding-top:1.6em;
}
.widget_area .post_item .post_content,
.widget .post_item .post_content {
	overflow:hidden;
}
.widget_area .post_item .post_title,
.widget .post_item .post_title {
	font-size: 1.2em;
	font-weight: 500;
	line-height: 1.25;
	margin: -2px 0 0.8em 0;
}
.widget_area .post_item .post_info,
.widget .post_item .post_info {
	font-size:11px;
	line-height:13px;
	margin-bottom:0;
	text-transform: uppercase;
	letter-spacing: 0.8px;
}
.widget_area .post_item .post_counters_item,
.widget_area .post_item .comment_counters_item {
	margin-left: 0;
}
.widget .post_item .post_info .post_counters_item:before,
.widget_area .post_item .post_info .post_counters_item:before {
	display: none;
}
.widget_area .post_item .post_info .post_info_item+.post_info_item:before,
.widget .post_item .post_info .post_info_item+.post_info_item:before {
	content: "";
	margin:0 0 0 5px;
}

/* Twitter */
.widget_twitter .widget_content ul {
	padding-left: 2em;
	list-style-type:none;
}
.widget_twitter .widget_content ul > li {
	position:relative;
	text-align: left;
}
.widget_twitter .widget_content ul > li+li {
	margin-top: 1.5em;
}
.widget_twitter .widget_content ul > li:before {
	position:absolute;
	z-index:1;
	display:inline-block;
	font-size:1.2em;
	font-style:normal;
	left:-1.5em;
	top: 0;
	background-color:transparent !important;
}
.widget_twitter .widget_content .sc_twitter_item .sc_twitter_item_icon {
	text-align: center;
	font-size:1.6em;
	font-style:normal;
	margin-bottom: 0.8em;
}
.widget_twitter .widget_content .sc_twitter_item a,
.widget_twitter .widget_content ul > li a {
	font-weight:normal;
}


/* CV Card
---------------------------------------------- */
body.trx_addons_cv {
	margin-left: 0;
	margin-right: 0;
}
.trx_addons_cv_header_letter {
	line-height: 0.75em;
}
.trx_addons_cv_header_letter,
.trx_addons_cv_header_text,
.trx_addons_cv_header_socials .social_item > .social_icon {
	text-shadow:none;
}
.trx_addons_cv_section_contacts input,
.trx_addons_cv_section_contacts textarea {
	-webkit-border-radius: 0 !important;
	    -ms-border-radius: 0 !important;
			border-radius: 0 !important;
}



/* Hover effects
---------------------------------------------- */
.trx_addons_hover_mask {
	left:0; top: 0;
	right: 0; bottom: 0;
}
.trx_addons_hover_content .trx_addons_hover_links a + a {
	margin-left:0.7em;
}

.trx_addons_hover_style_zoomin .trx_addons_hover_content .trx_addons_hover_title {
	display:none;
}



/* Shortcodes
---------------------------------------------- */

.sc_item_subtitle {
	font-size: 1.6em;
	font-weight: 500;
	text-transform:none;	
	letter-spacing: -0.6px;
	line-height:1.5;
}
.sc_item_subtitle:after {
	content: '';
	display: block;
	width: 55px;
	height: 9px;
}
.sc_item_subtitle.sc_align_center:after {
	margin-left: auto;
	margin-right: auto;
}
.sc_item_title {
	letter-spacing: -1.7px;
	line-height: 1.2;
	margin-bottom: 0;
	font-weight: 700;
}
h2.sc_item_title.sc_item_title_style_default:not(.sc_item_title_tag) {
	font-size: 3.6667rem;
}
.sc_item_subtitle + .sc_item_title {
	margin-top: 0.25em;
}
.sc_item_title + .sc_item_subtitle.sc_item_title_style_inverse_with_icon {
	margin-top: 0.4em;
}
.sc_item_title + .sc_item_subtitle {
	margin-top: 0.125em;
}
.sc_title_inverse_with_icon .sc_item_descr {
	font-size: 1.067em;
	font-weight: 500;
	line-height: 1.5;
	margin-top: 1.45em;
}
.sc_title_inverse_with_icon .sc_item_descr + .sc_layouts_item {
	margin-top: 3.65em;
}
.sc_item_descr {
	margin-bottom: 0;
}
.wpb_column:not(.vc_col-sm-12) .sc_item_descr.sc_align_center {
	max-width: 85%;
}

/* Action */
.sc_action_item_default .sc_action_item_subtitle {
	font-size:2em;
	line-height:1.2em;
}
.sc_action_item_default .sc_action_item_subtitle + .sc_action_item_title {
	margin-top:0;
}

.sc_action_item_event.with_image .sc_action_item_inner {
	padding: 2.4em 2em; 
}
.sc_action_item_event .sc_action_item_image + .sc_action_item_subtitle {
	margin-top:0.8em;
}
.sc_action_item_event .sc_action_item_title {
	margin-top: 0;
	margin-bottom: 0.3em;
}
.sc_action_item_date {
	font-size: 1em;
	line-height: 1.3em;
	text-transform:uppercase;
	letter-spacing:1px;
	padding:0.8em 0;
	border-style:dotted;
}
.sc_action_item_description {
	font-style:italic;
	letter-spacing:0;
}
.sc_action_item_info {
	font-size: 13px;
	font-weight:500;
	line-height: 1.3em;
	padding: 1em 0 0;
	letter-spacing:0;
	border-style:dotted;
}


/* Anchor */
.menu_side_inner #toc_menu {
	display:block;
}
.menu_side_icons #toc_menu {
	position:relative;
	left:0;
	top:0;
	margin:0;
}
.menu_side_icons .toc_menu_item .toc_menu_description,
.menu_side_inner > .toc_menu_item .toc_menu_description {
	font-size:1.0667em;
	line-height:1.3em;
	font-weight:bold;
	text-transform:uppercase;
	top: 1px;
}
.menu_side_inner > .toc_menu_item .toc_menu_description {
	top: 0;
}
.menu_side_icons .toc_menu_item:hover .toc_menu_description,
.menu_side_inner > .toc_menu_item:hover .toc_menu_description {
	margin-right:0;
}
.menu_side_icons .toc_menu_item .toc_menu_description:before,
.menu_side_inner > .toc_menu_item .toc_menu_description:before {
	content: ' ';
	display:inline-block;
	vertical-align:middle;
	height: 6rem;
}
.menu_side_icons .toc_menu_item .toc_menu_description span,
.menu_side_inner > .toc_menu_item .toc_menu_description span {
	display:inline-block;
	vertical-align:middle;
	padding: 0 3em;
	letter-spacing:3px;
	margin-top: 5px;
}
.menu_side_icons .toc_menu_item .toc_menu_icon,
.menu_side_inner > .toc_menu_item .toc_menu_icon {
	width: 100%;
	height: 6rem;
	line-height: 6rem;
	border-top: 1px solid #ddd;
	-webkit-box-sizing: content-box;
	    -ms-box-sizing: content-box;
	        box-sizing: content-box;
}
.menu_side_inner > .toc_menu_item .toc_menu_icon {
	border-top: none;
}
.menu_side_icons .toc_menu_item .toc_menu_icon:before,
.menu_side_inner > .toc_menu_item .toc_menu_icon:before {
	font-size:2rem;
	font-weight:normal;
	line-height:inherit;
}

.menu_side_dots #toc_menu .toc_menu_item .toc_menu_icon {
	text-align:center;
}
.menu_side_dots #toc_menu .toc_menu_item .toc_menu_icon:before {
	content: ' ';
	width: 5px;
	height: 5px;
	line-height:inherit;
	-webkit-border-radius: 50%;
	    -ms-border-radius: 50%;
			border-radius: 50%;
}
.menu_side_dots #toc_menu .toc_menu_item_active .toc_menu_icon:before {
	width: 9px;
	height: 9px;
}

.menu_style_left .toc_menu_item .toc_menu_description {
	left: -20em;
	right: auto;
}
.menu_style_left .toc_menu_item:hover .toc_menu_description {
	left: 100%;
	right: auto;
}

/* Blogger */
.sc_blogger_item_featured .post_featured {
	margin-bottom: 0;
}
.sc_blogger .sc_blogger_item .sc_blogger_post_meta {
	font-size: 13px;
	font-style: italic;
	font-weight: 500;
	line-height: 1.5em;
}

.sc_blogger_default .sc_blogger_item {
	padding: 2.1429em;
}
.sc_blogger_default .sc_blogger_item .sc_blogger_item_content {
	left: 45%;
	width: 55%;
}
.sc_blogger_default .sc_blogger_item .sc_blogger_post_meta {
	margin-top:0.6em;
}
.sc_blogger_default .sc_blogger_item .sc_blogger_item_featured {
	margin-bottom:0;
}

.sc_blogger_classic .sc_blogger_item .sc_blogger_item_content {
	padding: 1.75em 2.7em 2.7em;
}
.sc_blogger .sc_blogger_item .sc_blogger_item_title {
	line-height: 1.475;
	margin-top: 0.65em;
}
.sc_blogger_classic .sc_blogger_item .sc_blogger_post_meta {
	margin-top:0.4em;
}
.sc_blogger_classic .sc_blogger_item .sc_blogger_item_excerpt {
	margin-top:1.5em;
}
.sc_blogger_classic .sc_blogger_item .sc_blogger_item_excerpt_text {
	line-height:1.6em;
	max-height: 5em;
}
.sc_blogger_classic .sc_blogger_item .sc_blogger_item_excerpt_text p {
	margin:0;
}
.sc_blogger_classic .sc_blogger_item_button {
	margin-top:1.5em;
}
.sc_blogger_classic .sc_blogger_item .more-link {
	background-color: transparent;
}


/* Courses */
.sc_courses_default .sc_courses_item_info {
	padding: 2em;
}
.sc_courses_default .sc_courses_item_date {
	letter-spacing: 0;
	font-style: italic;
}
.sc_courses_default .sc_courses_item_price {
	font-size:2em;
	margin-top:0.8em;
	min-height:1.2em;
}
.sc_courses_default .trx_addons_hover_content {
	text-align:left;
	padding: 2em;
	left:0;
	top:0;
	-webkit-transform:none;
	    -ms-transform:none;
	        transform:none;
}
.sc_courses_default .sc_courses_item .trx_addons_hover_mask {
	background-color: #000;
}
.sc_courses_default .trx_addons_hover_content .trx_addons_hover_title {
	background-color: transparent;
	padding: 0;
	margin:0;
	text-transform:none;
	font-size: 1.6667em;
}
.sc_courses_default .trx_addons_hover_content .trx_addons_hover_text {
	padding:0;
	margin-top:2em;
	font-style:normal;
}
.sc_courses_default .trx_addons_hover_content .trx_addons_hover_links a {
	margin-top: 3em;
	font-size: 12px;
	font-weight:bold;
	text-transform:uppercase;
	letter-spacing:2px;
	padding:1.3em 1.9em;
}



/* Dishes */
.sc_dishes_default .sc_dishes_item_info {
	padding: 2.6em 3em;
	text-align:center;
}
.sc_dishes_default .sc_dishes_item_title {
	margin-top:0;
}
.sc_dishes_default .sc_dishes_item_subtitle {
	font-size: 0.8667em;
	line-height:1.5em;
	font-style:italic;
	letter-spacing:0;
	margin-top:0.1em;
}
.sc_dishes_default .sc_dishes_item_content {
	margin-top:1.6em;
	min-height:5.4em;
}
.sc_dishes_default .sc_dishes_item_button {
	margin:1.6em 0 0;
}

.sc_dishes_compact .sc_dishes_item_title {
	line-height:1.25em;
}
.sc_dishes_compact .sc_dishes_item_subtitle {
	font-size: 13px;
	line-height:16px;
}


/* Events */
.sc_events_item {
	height: 5.2632em;
}
.sc_events_item + .sc_events_item {
	margin-top: 1em;
}
.sc_events_button {
	text-align:center;
}
.sc_events_item_date {
	height: 5.2632em;
}
.sc_events_item_day {
	font-weight:200;
	margin-top:0.2em;
}
.sc_events_item_button {
	min-height:1.3em;
}
.sc_events_item_button:before,
.sc_events_item_button:after {
	position:absolute;
	left:0; top: 0;
	content:'\e93a';
	font-family:'fontello';
	font-size:0.9286em;
	-webkit-transition: all ease .3s;
	    -ms-transition: all ease .3s;
	        transition: all ease .3s;
}
.sc_events_item_button:after {
	left:-30px;
	opacity:0;
}
.sc_events_item:hover .sc_events_item_button:before {
	opacity:0;
	left: 30px;
}
.sc_events_item:hover .sc_events_item_button:after {
	opacity:1;
	left: 0;
}

.sc_events_detailed .sc_events_item_date,
.sc_events_detailed .sc_events_item_time,
.sc_events_detailed .sc_events_item_button {
	font-size:0.7368em;
	font-weight:800;
	line-height:1.3em;
	text-transform:uppercase;
}
.sc_events_detailed .sc_events_item_title {
	font-size:1.0526em;
	line-height:1.2em;
	font-weight:800;
	font-style:italic;
}
.sc_events_detailed .sc_events_item,
.sc_events_detailed .sc_events_item_date,
.sc_events_detailed .sc_events_item_button,
.sc_events_detailed .sc_events_item_title,
.sc_events_detailed .sc_events_item_time {
	-webkit-transition: all ease .3s;
	    -ms-transition: all ease .3s;
	        transition: all ease .3s;
}

/* Form */
.sc_form form input.filled.trx_addons_field_error,
.sc_form form input.filled.trx_addons_field_error:hover,
.sc_form form input.filled.trx_addons_field_error:focus {
	color: #ff0000 !important;
	-webkit-box-shadow: none;
	    -ms-box-shadow: none;
			box-shadow: none;	
}

.sc_form .sc_form_info_item .sc_form_info_icon:before {
	font-size: 1em;
	font-family: 'fontello';
}
.sc_form .sc_form_info_item_address .sc_form_info_icon:before { content: '\e945'; }
.sc_form .sc_form_info_item_email .sc_form_info_icon:before { content: '\e944'; }
.sc_form .sc_form_info_item_phone .sc_form_info_icon:before { content: '\e946'; }

.sc_form button:after {
	content:' ';
}
.sc_form_default .sc_form_field_button:before {
	content:' ';
	display:block;
	width:100%;
	height: 0;
	clear:both;
}
.sc_form_default .sc_form_field_button {
	text-align:left;
}
.sc_form_modern .sc_form_field_button {
	text-align:center;
}
.sc_form_detailed button {
	display: block;
}

.sc_form_field_title {
	text-transform:none;
	font-size:1em;
	font-weight:normal;
	line-height:1.8em;
	margin-bottom:0.7em;
}
label.required .sc_form_field_title:after {
	content:'*';
	display:inline-block;
	vertical-align:text-top;
	margin:-0.5em 0 0 0.5em;
	font-size:80%;
	color:#da6f5b;
}

[class*="sc_input_hover_"] input[type="text"],
[class*="sc_input_hover_"] input[type="number"],
[class*="sc_input_hover_"] input[type="email"],
[class*="sc_input_hover_"] input[type="password"],
[class*="sc_input_hover_"] input[type="search"],
[class*="sc_input_hover_"] select,
[class*="sc_input_hover_"] textarea {
	font-size:1em !important;
	font-weight: 500;
	font-style:normal;
	line-height:1.2em;
	letter-spacing:1px;
	padding: 1.4em 1.4em !important;
}
[class*="sc_input_hover_"] .sc_form_field_hover {
}
[class*="sc_input_hover_"] .sc_form_field_content {
}
[class*="sc_input_hover_"] label.required:after {
	display: none;
}
[class*="sc_input_hover_"] label.required .sc_form_field_content:after {
	font-size:110%;
}

.sc_input_hover_accent .sc_form_field_hover:before {
  	height: 3em;
}
.sc_input_hover_accent textarea + .sc_form_field_hover:before {
  	height: 9em;
}


.sc_input_hover_path .sc_form_field_content {
	padding-top:2em;
}
.sc_input_hover_path textarea + .sc_form_field_hover > .sc_form_field_content {
	padding-top:2em;
}
.sc_input_hover_path input:focus + .sc_form_field_hover > .sc_form_field_content,
.sc_input_hover_path textarea:focus + .sc_form_field_hover > .sc_form_field_content,
.sc_input_hover_path input.filled + .sc_form_field_hover > .sc_form_field_content,
.sc_input_hover_path textarea.filled + .sc_form_field_hover > .sc_form_field_content {
	-webkit-transform: scale3d(0.875, 0.875, 1) translate3d(0, 2.8em, 0);
	    -ms-transform: scale3d(0.875, 0.875, 1) translate3d(0, 2.8em, 0);
	        transform: scale3d(0.875, 0.875, 1) translate3d(0, 2.8em, 0);
}
.sc_input_hover_path textarea:focus + .sc_form_field_hover > .sc_form_field_content,
.sc_input_hover_path textarea.filled + .sc_form_field_hover > .sc_form_field_content {
	-webkit-transform: scale3d(0.875, 0.875, 1) translate3d(0, 10em, 0);
	    -ms-transform: scale3d(0.875, 0.875, 1) translate3d(0, 10em, 0);
	        transform: scale3d(0.875, 0.875, 1) translate3d(0, 10em, 0);
}

.sc_input_hover_jump .sc_form_field_content:before {
	top: -190%;
}
.sc_input_hover_jump .sc_form_field_content {
	padding:1.5em;
}

.sc_input_hover_underline .sc_form_field_hover:before {
	height: 2px;
}
.sc_input_hover_underline input:focus + .sc_form_field_hover:before,
.sc_input_hover_underline textarea:focus + .sc_form_field_hover:before,
.sc_input_hover_underline input.filled + .sc_form_field_hover:before,
.sc_input_hover_underline textarea.filled + .sc_form_field_hover:before {
	-webkit-transform: scale3d(1, 1, 1);
	    -ms-transform: scale3d(1, 1, 1);
	        transform: scale3d(1, 1, 1);
}
.sc_input_hover_underline input:focus + .sc_form_field_hover > .sc_form_field_content,
.sc_input_hover_underline input.filled + .sc_form_field_hover > .sc_form_field_content {
	-webkit-transform: translate3d(0, 2.2em, 0) scale3d(0.875, 0.875, 1);
	    -ms-transform: translate3d(0, 2.2em, 0) scale3d(0.875, 0.875, 1);
	        transform: translate3d(0, 2.2em, 0) scale3d(0.875, 0.875, 1);
}
.sc_input_hover_underline textarea:focus + .sc_form_field_hover > .sc_form_field_content,
.sc_input_hover_underline textarea.filled + .sc_form_field_hover > .sc_form_field_content {
	height: 5.3em;
	-webkit-transform: translate3d(0, 6.2em, 0) scale3d(0.875, 0.875, 1);
	    -ms-transform: translate3d(0, 6.2em, 0) scale3d(0.875, 0.875, 1);
	        transform: translate3d(0, 6.2em, 0) scale3d(0.875, 0.875, 1);
}

.sc_input_hover_iconed .sc_form_field_hover {
    padding: 0.45em !important;
}

/* Googlemap */
.sc_googlemap_content .sc_form_default .sc_form_details {
	width:100%;
	float:none;
}
.sc_googlemap_content .sc_form_default .sc_form_details > div {
	width: 100%;
	padding-right:0;
}
.sc_googlemap_content .sc_form_default .sc_form_field_message {
	width: 100%;
	float:none;
	padding-left: 0;
}
.sc_googlemap_content .sc_form .sc_form_field input[type="text"],
.sc_googlemap_content .sc_form .sc_form_field textarea {
	padding:0.5em 1em;
}
.sc_googlemap_content .sc_form .sc_form_field textarea {
	min-height:3em;
}

.sc_googlemap_content_detailed p {
	margin-bottom:1em;
}



/* Icons */
.sc_icons .sc_icons_icon:before, .sc_icons .sc_icons_icon > span:before {
    font-size: 6em;
    line-height: 1.1em;
}
.sc_icon_type_svg svg {
	width: 6em;
	height: 6em;
}
.sc_icons_size_small .sc_icons_icon::before, .sc_icons_size_small .sc_icons_icon > span::before {
    font-size: 4em;
    line-height: 1.1em;
}
.sc_icons_size_small .sc_icon_type_svg svg {
	width: 4em;
	height: 4em;
}
.sc_icons_size_large .sc_icons_icon::before, .sc_icons_size_large .sc_icons_icon > span::before {
    font-size: 8em;
    line-height: 1.1em;
}
.sc_icons_size_large .sc_icon_type_svg svg {
	width: 8em;
	height: 8em;
}
.sc_icons .sc_icons_icon,
.sc_icons .sc_icons_item_title {
	-webkit-transition: all ease .3s;
	    -ms-transition: all ease .3s;
	        transition: all ease .3s;
}
.sc_icons_item_title {
	font-size: 1.2em;
	line-height:1.3em;
	font-weight:500;
	font-style: normal;
	text-transform:uppercase;
	letter-spacing:1px;
}
.sc_icons .sc_icons_image + .sc_icons_item_title,
.sc_icons .sc_icons_image + .sc_icons_item_description {
	margin-top:2em;
}
.footer_wrap .sc_icons .sc_icons_icon + .sc_icons_item_title {
	margin-top:1em;
	margin-bottom:2em;
}
.sc_icons_item_description {
	font-size: 1em;
	line-height: 1.6em;
	font-weight:500;
	font-style:normal;
}
.sc_icons_modern .sc_icons_item_description {
	font-size: 1.2em;
	line-height: 1.3em;
}
.sc_icons .sc_icons_item_title + .sc_icons_item_description {
	margin-top:0.7em;
}

/* Price */
.sc_price {
	padding: 0;
	position: relative;
}
.sc_price_info {
	padding: 0;
	text-align:center;
}
.sc_price_image {
	padding-bottom: 4.15em;
	position: relative;
}
.sc_price_image:hover .sc_price_subtitle_container {
	height: calc(100% + 14px);
}
.sc_price_subtitle_container {
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 14px;
	padding-top: 14px;
	margin-top: -14px;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
	height: 4.15em;
	margin-bottom: 0;
	-webkit-transition: all ease .3s;
	-ms-transition: all ease .3s;
	transition: all ease .3s;
	z-index: 2;
}
.sc_price_image .sc_price_subtitle > span {
	position: absolute;
	width: 100%;
	top: calc(14px + 1.1em);
	left: 0;
	-webkit-transition: all ease .3s;
	-ms-transition: all ease .3s;
	transition: all ease .3s;
}
.sc_price_image:hover .sc_price_subtitle > span {
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.sc_price_subtitle {
	font-size: 0.933em;
	font-weight: 500;
	line-height: 1.57;
	text-transform: uppercase;
	margin-bottom: 2em;
	padding: 1.1em 1em 0.85em;
	letter-spacing: 0;
	height: 100%;
	-webkit-transition: all ease .3s;
	-ms-transition: all ease .3s;
	transition: all ease .3s;
}
.sc_price_subtitle_container:before {
	content: ' ';
	position: absolute;
	z-index: 1;
	top: 4px;
	left: 50%;
	width: 20px;
	height: 20px;
	-webkit-transform: rotate(-45deg)translateX(-50%);
	-moz-transform: rotate(-45deg)translateX(-50%);
	-ms-transform: rotate(-45deg)translateX(-50%);
	-o-transform: rotate(-45deg)translateX(-50%);
	transform: translateX(-50%)rotate(-45deg);
	background: inherit;
	z-index: 1;
}
.sc_price_title {
	font-size: 1.6em;
	font-weight: 500;
	line-height: 0.92;
	letter-spacing: -0.6px;
	margin-top: 0.575em;
}
.sc_price_description {
	font-size: 1em;
	font-style: normal;
	font-weight: 400;
	line-height: 1.55;
	letter-spacing: -0.1px;
	margin: 1.5em 0 1.5em;
	padding: 0 1.5em;
}
.sc_price_price {
	font-size: 1em;
}
.sc_price_period {
	text-transform: uppercase;
	font-size: 0.933em;
	font-weight: 600;
	line-height: 1.5;
}
.sc_price_value .from {
	font-size: 0.4665em;
	font-weight: 600;
	line-height: 1.5;
	vertical-align: super;
}
.sc_price_value .currency {
	font-size: 0.4665em;
	font-weight: 800;
	line-height: 1.5;
	vertical-align: super;
}
.sc_price_value {
	font-size: 2em;
	font-weight: 600;
	line-height: 0.7;
	letter-spacing:0;
}
.sc_price_decimals {
	text-decoration:none;
}
.sc_price_details {
	margin-top:0.9em;
	font-size:1.0667em;
	font-weight:500;
	font-style:italic;
	line-height:1.25em;
	letter-spacing:0;
}
.sc_price_link:after {
	display:none;
}


/* Promo */
.sc_promo.sc_promo_size_tiny .sc_promo_image {
	margin: 0.5em;
}
.sc_promo_text blockquote {
	margin: 0 !important;
}
.sc_promo.sc_promo_size_normal .sc_promo_icon,
.sc_promo.sc_promo_size_large .sc_promo_icon {
	font-size: 7em;
	line-height: 1em;
	margin-bottom:0.14em;
}
.sc_promo_title + .sc_promo_content,
.sc_promo_subtitle + .sc_promo_content {
	margin-top: 1.8em;
}
.sc_promo_title + .sc_promo_subtitle {
	margin-top: 1.25em;
}

.sc_promo.sc_promo_size_normal .sc_promo_text_inner {
	padding:3em;
}
.sc_promo.sc_promo_size_normal .sc_item_title + .sc_item_descr,
.sc_promo.sc_promo_size_normal .sc_item_subtitle + .sc_item_descr,
.sc_promo.sc_promo_size_normal .sc_item_title + .sc_item_slider,
.sc_promo.sc_promo_size_normal .sc_item_subtitle + .sc_item_slider,
.sc_promo.sc_promo_size_normal .sc_item_descr + .sc_item_slider,
.sc_promo.sc_promo_size_normal .sc_item_title + .sc_item_columns,
.sc_promo.sc_promo_size_normal .sc_item_subtitle + .sc_item_columns,
.sc_promo.sc_promo_size_normal .sc_item_descr + .sc_item_columns,
.sc_promo.sc_promo_size_normal .sc_item_title + .sc_item_content,
.sc_promo.sc_promo_size_normal .sc_item_subtitle + .sc_item_content,
.sc_promo.sc_promo_size_normal .sc_item_descr + .sc_item_content {
	margin-top: 1.8em;
}
.sc_promo.sc_promo_size_normal .sc_item_title + .sc_item_button,
.sc_promo.sc_promo_size_normal .sc_item_title + .sc_item_button_image,
.sc_promo.sc_promo_size_normal .sc_item_subtitle + .sc_item_button,
.sc_promo.sc_promo_size_normal .sc_item_subtitle + .sc_item_button_image,
.sc_promo.sc_promo_size_normal .sc_item_descr + .sc_item_button,
.sc_promo.sc_promo_size_normal .sc_item_descr + .sc_item_button_image,
.sc_promo.sc_promo_size_normal .sc_item_content + .sc_item_button,
.sc_promo.sc_promo_size_normal .sc_item_content + .sc_item_button_image,
.sc_promo.sc_promo_size_normal .sc_item_slider + .sc_item_button,
.sc_promo.sc_promo_size_normal .sc_item_slider + .sc_item_button_image,
.sc_promo.sc_promo_size_normal .sc_item_columns + .sc_item_button,
.sc_promo.sc_promo_size_normal .sc_item_columns + .sc_item_button_image {
	margin-top: 1.8em;
}

.sc_promo_modern .sc_promo_title {
	font-size:3.6667rem;
	line-height:1.1818em;
}
.sc_promo_modern .sc_promo_descr,
.sc_promo_modern .sc_promo_button {
	padding-left: 6.6rem;
}


/* Services */
.sc_services_default .trx_addons_hover_content .trx_addons_hover_title {
	font-size: 1.3333em;
}
.sc_services_default .sc_services_item_icon.sc_icon_type_img {
	max-width: 66px;
	margin-top: 0.1em;
}
.sc_services_default .sc_services_item_icon {
	margin-top: 0.8em;
	border: 0;
}
.sc_services_default .sc_services_item_info {
	padding: 0.95em 1em;
	text-align:center;
}
.sc_services_default .sc_services_item_title {
	margin-top:0;
	font-size: 1.6em;
	font-weight: 400;
}
.sc_services_default .sc_services_item_subtitle {
	letter-spacing:0;
	margin-top:0.1em;
	display: none;
}
.sc_services_default .sc_services_item_content {
	margin-top:1.6em;
	min-height:5.4em;
}
.sc_services_default .sc_services_item_button {
	margin:1.6em 0 0;
}

.sc_services_iconed .sc_services_item_icon {
	font-size:2.8em;
	line-height:1em;
}
.sc_services_iconed .sc_services_item_header {
	padding:2rem;
}
.sc_services_iconed .sc_services_item_title {
	font-size:1em;
	line-height:1.5em;
}
.sc_services_iconed .sc_services_item_subtitle,
.sc_services_iconed .sc_services_item_button {
	display:none;
}


/* Skills */
.sc_skills_counter .sc_skills_item_wrap {
	max-width:none;
}
.sc_skills .sc_skills_item_title {
	font-size:12px;
	line-height:16px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing:1px;
}
.vc_row.vc_inner .sc_skills_counter .sc_skills_column + .sc_skills_column:before {
	content:' ';
	position:absolute;
	left:0;
	top: 0;
	height: 100%;
	width: 1px;
}
.vc_row.vc_inner .sc_skills_counter .sc_skills_item_wrap {
	padding:3.4em 0 0 4em;
}
.widget_contacts .contacts_info > div {
	position: relative;
	display: block;
	padding-left: 2em;
}
.widget_contacts .contacts_info > div:before {
	font-family: 'trx_addons_icons';
	font-size: 1.2em;
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 2em;
	line-height: inherit;
	text-align: left;
}
.sidebar .widget.widget_search .widget_title {
	margin-bottom: 0;
}

.sc_skills_counter .sc_skills_icon {
	font-size:4.2em;
	line-height: 1.15em;
}
.sc_skills_counter .sc_skills_total {
	font-weight:500;
	font-size: 3.3333em;
	line-height: 1.1em;
	margin:0;
}
.sc_skills_counter .sc_skills_icon+.sc_skills_total {
	margin-top:0.2em;
}
.sc_skills_counter .sc_skills_item_title {
	font-size:1.0667em;
	line-height:1.25em;
	font-style:italic;
	text-transform:none;
	letter-spacing:0;
}

.sc_skills_pie.sc_skills_compact_off .sc_skills_total {
	font-size: 2em;
	font-weight: 600;
	line-height: 0.7;
	top: 50%;
}
.sc_skills_pie.sc_skills_compact_off .sc_skills_item_title {
	font-size: 1.6em;
	font-weight: 500;
	line-height: 1.17;
	letter-spacing:0;
	margin-top:0.2em;
	text-transform:none;
}

.sc_countdown_default .sc_countdown_digits, .sc_countdown_default .sc_countdown_separator {
	font-size: 3.2em;
	font-weight: 800;
}
.sc_countdown_default .sc_countdown_digits {
	margin-bottom: -0.25em;
}
.sc_countdown_default .sc_countdown_separator {
	opacity: 0;
	margin: 0 15px;
}
.sc_countdown .sc_countdown_label {
	font-size: 0.933em;
	font-weight: 800;
	text-transform: uppercase;
}
.sc_countdown[class*="vc_custom"] {
	padding: 6.1em 0 5.2em;
}
.sc_countdown[class*="vc_custom"] .sc_countdown_digits span {
	background: transparent!important;
	width: auto;
}


/* Table */
.sc_table table th {
	padding: 1.75em 1.9em 1.6em;
}
.sc_table table td {
	padding: 2.1em 1em 1.7em;
}

/* Testimonials */
.sc_testimonials_item_content {
	font-size: 1.1333em;
	line-height:1.8824em;
	font-weight:500;
	font-style:normal;
}
.sc_testimonials_item_content:before {
	display: none;
}
.sc_testimonials [class*="column"] .sc_testimonials_item_content {
	font-size: 1.067em;
	font-weight: 500;
	line-height: 1.5;
	text-align: center;
}
.sc_testimonials [class*="column"] .sc_testimonials_item_author {
	text-align: center;
	padding: 2em;
}
.sc_testimonials_item_author {
	background-color: transparent;
	text-align:center;
	margin-top:0.6em;
	max-width:none;
}
.sc_testimonials_item_author_title {
	font-size: 1.6em;
	font-weight: 500;
	line-height: 0.75;
	letter-spacing:0;
	text-transform:none;
}
.sc_testimonials_item_author_title + .sc_testimonials_item_author_subtitle {
	margin-top: 0.6em;
	font-size: 0.933em;
	font-weight: 500;
	text-transform: uppercase;
}
.sc_testimonials_item {
	padding: 4.3em 7em 2.85em;
	-webkit-border-radius: 10px;
	-ms-border-radius: 10px;
	border-radius: 10px;
}
.sc_testimonials_item_author_data {
	text-align: left;
}
.sc_testimonials_item_author_avatar {
	margin-left: 0;
	margin-right: 0.8em;
	width: 4.867em;
	height: 4.867em;
}
.sc_testimonials .slider_swiper.slider_pagination_pos_right .swiper-pagination-bullets {
	right: 3.3em;
}


/* Team */
.sc_team_default .trx_addons_hover_content .trx_addons_hover_title {
	font-size: 1.3333em;
}
.sc_team_default .sc_team_item_info {
	padding: 1.7em 0 0;
	text-align: left;
}
.sc_team_default .sc_team_item_title {
	margin-top:0;
	font-size: 1.6em;
	font-weight: 500;
}
.sc_team_default .sc_team_item_subtitle,
.sc_team_short .sc_team_item_subtitle,
.sc_team_featured .sc_team_item_subtitle {
	font-size: 0.933em;
	font-weight: 500;
	line-height: 1.57;
	text-transform: uppercase;
	letter-spacing:0;
	margin-top:0.5em;
}
.sc_team_default .sc_team_item_socials .social_item {
	display:inline-block;
	margin: 0 3px 3px 0;
}
.sc_team_default .sc_team_item_socials .social_item .social_icon {
	display:block;
	width: 2.4em;
	height: 2.4em;
	line-height: 2.4em;
}
.sc_team_default .sc_team_item_socials + .sc_team_item_button {
	display:none;
}
.sc_team_default .sc_team_item_button {
	margin:1.6em 0 0;
}


.team_member_page .team_member_brief_info_text {
	letter-spacing:0;
}
.team_member_page .team_member_socials .social_item {
	display:inline-block;
	margin: 0 3px 3px 0;
}
.team_member_page .team_member_socials .social_item .social_icon {
	display:block;
	width: 2.4em;
	height: 2.4em;
	line-height: 2.4em;
	-webkit-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	-webkit-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
}
.widget_area .post_item .post_thumb, aside .post_item .post_thumb {
	width: 4.667em;
	height: 4.667em;
	margin: 0 1.3em 4px 2px;
}
.sc_layouts_row_type_compact .sc_layouts_logo img {
	max-height: 40px;
	margin-top: 2px;
}
.sc_layouts_row_type_compact .sc_layouts_login {
	padding-bottom: 2px;
}
.sc_layouts_row_type_compact .sc_layouts_login .sc_layouts_item_details {
	font-size: 0.933em;
}
.sc_layouts_row_type_compact .sc_layouts_login .sc_layouts_item_icon {
	width: auto;
	text-align: center;
	border: 0;
	height: auto;
	line-height: inherit;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 0;
	-ms-border-radius: 0;
	border-radius: 0;
}
.sc_layouts_row_type_compact .sc_layouts_item_details {
	font-size: 1em;
	font-weight: 500;
}
.sc_layouts_login .trx_addons_icon-user-alt:before {
	font-family: 'fontello';
	content: '\e940';
}
.sc_layouts_row_type_compact .sc_layouts_item_icon {
	font-size: 0.8em;
	width: 3.1667em;
	text-align: center;
	border: 1px solid;
	height: 3.1667em;
	line-height: 3.1667em;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
}
.sc_layouts_item_icon + .sc_layouts_item_details {
	margin-left: 0.7em;
}
.sc_layouts_row_type_compact .sc_layouts_item > div {
	display: inline-block;
}
.sc_layouts_row_type_compact .sc_layouts_item + .sc_layouts_item:before {
	content: '';
	display: inline-block;
	width: 1px;
	height: 20px;
	background-color: #1c1918;
	opacity: 0.1;
	vertical-align: middle;
	margin-right: 1.75em;
}
.sc_layouts_column_align_right .sc_layouts_item {
	margin-left: 1.8em;
}
.sc_layouts_row_type_compact {
	padding: 1.2em 0;
}
.sc_layouts_menu_nav > li.current-menu-item > a, .sc_layouts_menu_nav > li.current-menu-parent > a, .sc_layouts_menu_nav > li.current-menu-ancestor > a {
	font-weight: 500;
}
.sc_layouts_menu_nav>li>a {
	border: 1px solid;
	-webkit-border-radius: 3em;
	-ms-border-radius: 3em;
	border-radius: 3em;
	padding: 0.7142em 1.05em;
}
.sc_layouts_menu_nav > li.menu-item-has-children > a {
	padding-right: 1.05em;
}
.sc_layouts_menu_nav > li.menu-item-has-children > a:after {
	display: none;
}
.sc_layouts_menu_nav > li+li {
	margin-left: 5px;
}
.sc_layouts_row_type_normal .search_wrap .search_submit {
	border: 0;
}
.sc_layouts_row_type_normal .search_wrap .search_field {
	font-size: 14px;
	padding: 0 4em 0 1.5em;
	width: 16.5em;
	height: 3.7em;
	line-height: normal;
	-webkit-border-radius: 3em;
	-ms-border-radius: 3em;
	border-radius: 3em;
}
.sc_layouts_row_type_normal .search_wrap .search_submit {
	font-size: 14px;
	left: auto;
	right: 0;
	height: 3.7em;
	line-height: 3.8em;
	width: 4.6em;
}
.sc_layouts_row_type_normal .search_wrap .search_submit:before {
	font-size: 14px;
	-webkit-transition: none;
	-ms-transition: none;
	transition: none;
}
.breadcrumbs {
	font-size: 1.067em;
	font-weight: 500;
	line-height: 1.5;
}
.sc_layouts_title .sc_layouts_title_caption {
	letter-spacing: -0.8px;
}
.breadcrumbs .breadcrumbs_delimiter:before {
	content: '\e836';
	font-family: "fontello";
}
.breadcrumbs .breadcrumbs_delimiter {
	margin: 0 1em;
}
.sc_layouts_title_breadcrumbs {
	margin-top: 1.95em;
}
.sc_layouts_title {
	padding: 9.75rem 0 10.3rem;
}
.footer_wrap .widget_contacts .contacts_description, .footer_wrap .widget_contacts .contacts_content {
	font-size: 1em;
	font-weight: 400;
	line-height: 1.6;
	padding-right: 4em;
}
.widget_contacts .contacts_logo + .contacts_description, .widget_contacts .contacts_logo + .contacts_content {
	margin-top: 3.6em;
}
.widget_contacts .socials_wrap .social_item .social_icon {
	width: 2.69em;
	height: 2.69em;
	line-height: 2.69em;
	font-weight: 500;
}
.widget_contacts .socials_wrap .social_item {
	font-size: 0.8667em;
}
.widget_contacts .contacts_logo + .contacts_socials, .widget_contacts .contacts_info + .contacts_socials, .widget_contacts .contacts_description + .contacts_socials {
	margin-top: 1.2em;
}
.socials_wrap .social_item {
	margin: 8px 14px 0 0;
}
.socials_wrap {
	margin: -8px -14px 0 0;
}
.widget_contacts .contacts_info > div .contacts_label {
	font-size: 1.333em;
	font-weight: 500;
	margin-bottom: -0.2em;
}
footer .widget_contacts .contacts_info > div .contacts_label {
	margin-bottom: -0.2em!important;
	text-align: left;
}
.widget_contacts .contacts_info > div {
	font-weight: 500;
	padding-left: 3.4em;
}
.widget_contacts .contacts_info > div:before {
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.wpb_column:not(.vc_col-sm-12) .widget_contacts .contacts_info > div {
	margin-bottom: 1.45em;
}
.widget_contacts .contacts_info > div:before {
	font-family: 'fontello';
	font-size: 1.7em;
	font-weight: normal;
}
.widget_contacts .contacts_info > div.contacts_address:before {
	content:'\e93f';
}
.widget_contacts .contacts_info > div.contacts_phone:before {
	content: '\e920';
}
.widget_contacts .contacts_info > div.contacts_email:before {
	content: '\e941';
}
.sc_layouts_menu_nav > li > ul {
	top: 4.55em;
	left: 0;
	margin-left: 0;
}
.sc_layouts_menu_nav > li > ul:before {
	content: ' ';
	position: absolute;
	z-index: 1;
	top: -10px;
	left: 17%;
	width: 15px;
	height: 15px;
	-webkit-transform: rotate(-45deg)translateX(-50%);
	-moz-transform: rotate(-45deg)translateX(-50%);
	-ms-transform: rotate(-45deg)translateX(-50%);
	-o-transform: rotate(-45deg)translateX(-50%);
	transform: rotate(-45deg)translateX(-50%);
}
.sc_layouts_row_type_normal {
	padding: 0.7em 0;
}
.sc_layouts_menu_popup .sc_layouts_menu_nav, .sc_layouts_menu_nav > li ul {
	padding: 1.45em 0;
}
.sc_layouts_menu_popup .sc_layouts_menu_nav > li > a, .sc_layouts_menu_nav > li li > a {
	padding: 0.9em 1.7em 0.8em;
}
.sc_layouts_row_fixed_on .sc_layouts_menu_nav > li > ul {
	top: 3.85em;
}
.trx_addons_audio_player .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total, .trx_addons_audio_player .mejs-controls .mejs-time-rail .mejs-time-total, .trx_addons_audio_player .mejs-controls .mejs-time-rail .mejs-time-buffering, .trx_addons_audio_player .mejs-controls .mejs-time-rail .mejs-time-loaded, .trx_addons_audio_player .mejs-controls .mejs-time-rail .mejs-time-current, .trx_addons_audio_player .mejs-controls a.mejs-horizontal-volume-slider, .trx_addons_audio_player .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current, .trx_addons_audio_player .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
	height: 3px !important;
}
.trx_addons_video_player.with_cover .video_mask {
	opacity: 1;
}
.trx_addons_video_player.with_cover .video_hover {
	opacity: 1;
	margin-top: 0;
}
.sc_form_detailed .sc_form_form {
	width: 85%;
	margin-right: -10px;
}
.sc_form_subtitle + .trx_addons_columns_wrap {
	margin-top: 2.5em;
}
.sc_form_detailed .sc_form_field.sc_form_field_button,
.sc_form_detailed .sc_form_field.sc_form_field_textarea  {
	width: 100%;
}
.sc_form_detailed .sc_form_field {
	display: inline-block;
	width: 50%;
	padding-right: 10px;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
.sc_form_field {
	margin-bottom: 0.675em;
}
.sc_form.sc_form_detailed textarea {
	min-height: 18.3em;
}
.sc_form_detailed .sc_form_field.sc_form_field_button {
	margin-top: 0.5em;
	text-align: right;
}
.sc_form_detailed button {
	display: inline-block;
	width: auto;
	padding: 1.643em 3.8em;
}
.sc_form_detailed .sc_form_info_area .sc_form_info_title {
	font-size: 1.6em;
	font-weight: 500;
	line-height: 1.25;
	text-transform: none;
	letter-spacing: -0.5px;
	margin-bottom: 0.6em;
}
.sc_form_detailed .sc_form_info_icon {
	width: 1.933em;
	height: 1.933em;
	line-height: 1.933em!important;
	border: 1px solid;
	-webkit-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	margin-right: 0.7em;
}
.sc_form_detailed .sc_form_info_area {
	font-size: 1em;
	padding-left: 3.3em;
}
.sc_form_detailed .sc_form_info_area {
	text-transform: none;
}
.sc_form_detailed .sc_form_info_item + .sc_form_info_item {
	margin-top: 2.7em;
}
.sc_layouts_menu_popup .sc_layouts_menu_nav, .sc_layouts_menu_popup .sc_layouts_menu_nav > li > ul, .sc_layouts_menu_nav > li > ul ul {
	top: -1.45em;
}
.sc_item_title + .sc_item_slider,
.sc_item_subtitle + .sc_item_slider,
.sc_item_descr + .sc_item_slider {
	margin-top: 4.3em;
}
.sc_item_title + .sc_item_columns,
.sc_item_subtitle + .sc_item_columns,
.sc_item_descr + .sc_item_columns,
.sc_item_title + .sc_item_content,
.sc_item_subtitle + .sc_item_content,
.sc_item_descr + .sc_item_content {
	margin-top: 3.8em;
}
.sc_services_chess .sc_item_button {
	margin-top: 1.9em;
}
.sc_services_chess .sc_services_item_title {
	font-size: 1.6em;
	font-weight: 500;
	line-height: 1.475;
}
.sc_services_chess .sc_services_item_title + .sc_services_item_text, .sc_services_chess .sc_services_item_subtitle + .sc_services_item_text {
	margin-top: 1.55em;
}
.sc_services_chess .sc_services_item_header:before {
	padding-top: 97.5%;
}
.sc_services_chess .sc_item_columns_2 .sc_services_item_content {
	padding: 1.9em 6.3% 1.5em;
}
.sc_button.sc_button_simple:before, .sc_button.sc_button_simple:after {
	display: none;
}
.sc_services_chess .sc_services_item_content {
	overflow: visible;
}
.sc_services_chess .sc_services_item_content:before {
	content: ' ';
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 0;
	width: 20px;
	height: 20px;
	-webkit-transform: translateX(-50%)translateY(-50%)rotate(-45deg);
	-moz-transform: translateX(-50%)translateY(-50%)rotate(-45deg);
	-ms-transform: translateX(-50%)translateY(-50%)rotate(-45deg);
	-o-transform: translateX(-50%)translateY(-50%)rotate(-45deg);
	transform: translateX(-50%)translateY(-50%)rotate(-45deg);
	background: inherit;
	-webkit-transition: background-color .3s ease;
	-ms-transition: background-color .3s ease;
	transition: background-color .3s ease;
}
.sc_services_chess .sc_services_item {
	-webkit-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
}
.sc_services_chess .sc_item_columns_2 [class*="column-"]:nth-child(4n+3) .sc_services_item_content:before,
.sc_services_chess .sc_item_columns_2 [class*="column-"]:nth-child(4n+4) .sc_services_item_content:before {
	left: auto;
	right: 0;
	-webkit-transform: translateX(50%)translateY(-50%)rotate(-45deg);
	-moz-transform: translateX(50%)translateY(-50%)rotate(-45deg);
	-ms-transform: translateX(50%)translateY(-50%)rotate(-45deg);
	-o-transform: translateX(50%)translateY(-50%)rotate(-45deg);
	transform: translateX(50%)translateY(-50%)rotate(-45deg);
}
.sc_item_subtitle.sc_item_title_style_inverse:after {
	display: none;
}
h4.sc_item_title_tag + .sc_item_descr, h4.sc_item_title_tag + .sc_item_slider, h4.sc_item_title_tag + .sc_item_columns, h4.sc_item_title_tag + .sc_item_content {
	margin-top: 1.8em;
}
.sc_team .sc_item_title + .sc_item_columns,
.sc_team .sc_item_subtitle + .sc_item_columns,
.sc_team .sc_item_descr + .sc_item_columns,
.sc_team .sc_item_title + .sc_item_content,
.sc_team .sc_item_subtitle + .sc_item_content,
.sc_team .sc_item_descr + .sc_item_content {
	margin-top: 2.5em;
}
.sc_team.sc_team_short .sc_item_title + .sc_item_columns,
.sc_team.sc_team_short .sc_item_subtitle + .sc_item_columns,
.sc_team.sc_team_short .sc_item_descr + .sc_item_columns,
.sc_team.sc_team_short .sc_item_title + .sc_item_content,
.sc_team.sc_team_short .sc_item_subtitle + .sc_item_content,
.sc_team.sc_team_short .sc_item_descr + .sc_item_content {
	margin-top: 5.2em;
}
.sc_services.sc_services_numbered .sc_services_columns {
	counter-reset: num;
}
.sc_services.sc_services_numbered .sc_services_columns [class*="trx_addons_column-"] .sc_services_item {
	position: relative;
	padding-bottom: 4.8em;
}
.sc_services.sc_services_numbered .sc_services_columns [class*="trx_addons_column-"] .sc_services_item:before {
	counter-increment: num;
	content: counter(num);
	display: block;
	text-align: center;
	position: absolute;
	left: 50%;
	bottom: 0;
	font-size: 0.933em;
	font-weight: 800;
	width: 4.57em;
	height: 4.57em;
	line-height: calc(4.57em - 18px);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	border: 9px solid;
	-webkit-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
}
.sc_services.sc_services_numbered .sc_services_columns [class*="trx_addons_column-"] + [class*="trx_addons_column-"] .sc_services_item:after {
	content: '';
	height: 0;
	width: 64%;
	border-bottom: 2px dashed;
	position: absolute;
	bottom: 2.285em;
	left: -36%;
}
.sc_team_short .sc_team_item .sc_team_item_info {
	width: 50%;
	float: left;
	padding: 1em 1.5em 1em 2.8em;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
}
.sc_team_short .sc_team_item .sc_team_item_info {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 0;
}
.sc_team_short .sc_team_item .post_featured {
	width: 50%;
	float: left;
	margin-bottom: 0;
	border: 0;
}
.sc_team_short .sc_team_item .post_featured:after {
	content: ' ';
	position: absolute;
	z-index: 1;
	top: 50%;
	right: 0;
	width: 20px;
	height: 20px;
	-webkit-transform: translateX(50%)translateY(-50%)rotate(-45deg);
	-moz-transform: translateX(50%)translateY(-50%)rotate(-45deg);
	-ms-transform: translateX(50%)translateY(-50%)rotate(-45deg);
	-o-transform: translateX(50%)translateY(-50%)rotate(-45deg);
	transform: translateX(50%)translateY(-50%)rotate(-45deg);
	background: inherit;
	-webkit-transition: background-color .3s ease;
	-ms-transition: background-color .3s ease;
	transition: background-color .3s ease;
}
.sc_team_short .sc_team_item {
	padding: 1.5em;
	position: relative;
}
.sc_team_short .sc_team_item_content {
	margin-top: 1.65em;
}
.sc_team_short .sc_team_item_title {
	font-size: 1.6em;
	font-weight: 500;
	margin: 0;
}
.sc_team_short .sc_team_item_subtitle:after {
	content: '';
	display: block;
	width: 55px;
	height: 9px;
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 1.1em;
}
.sc_team_short .socials_wrap {
	margin-top: 1.5em;
}
.sc_team_short .socials_wrap .social_item {
	margin-right: 10px;
}
.sc_team_short .socials_wrap .social_item .social_icon {
	font-size: 0.9em;
	width: 2.889em;
	height: 2.889em;
	line-height: 2.889em;
}
.sc_team_short .sc_layouts_item .sc_item_button {
	margin-top: 3.4em;
}
.sc_promo.sc_promo_blockquote .sc_promo_image {
	margin: 2.2em;
}
.sc_promo.sc_promo_blockquote {
	margin: 0 4.6em;
	padding: 2.2em;
}
.sc_promo.sc_promo_blockquote blockquote {
	padding: 5em 1.5em 4.1em 4.5em;
}
.sc_promo.sc_promo_blockquote blockquote p {
	font-size: 1em;
	font-weight: 400;
	line-height: 1.55;
}
.sc_promo.sc_promo_blockquote blockquote:before {
	display: none;
}
.sc_promo.sc_promo_blockquote blockquote:after {
	content: ' ';
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 0;
	width: 20px;
	height: 20px;
	-webkit-transform: translateX(-50%)translateY(-50%)rotate(-45deg);
	-moz-transform: translateX(-50%)translateY(-50%)rotate(-45deg);
	-ms-transform: translateX(-50%)translateY(-50%)rotate(-45deg);
	-o-transform: translateX(-50%)translateY(-50%)rotate(-45deg);
	transform: translateX(-50%)translateY(-50%)rotate(-45deg);
	background: inherit;
	-webkit-transition: background-color .3s ease;
	-ms-transition: background-color .3s ease;
	transition: background-color .3s ease;
}
.sc_promo_blockquote_title {
	margin-top: -0.2em;
	margin-bottom: 1.05em;
}
.sc_promo_blockquote_title:after {
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 0.75em;
	content: '';
	display: block;
	width: 55px;
	height: 9px;
}
.sc_promo.sc_promo_blockquote blockquote > a,
.sc_promo.sc_promo_blockquote blockquote > p > a,
.sc_promo.sc_promo_blockquote blockquote > cite,
.sc_promo.sc_promo_blockquote blockquote > p > cite {
	font-family: Pacifico, cursive;
	text-transform: none;
	font-size: 1.667em;
	font-weight: 500;
	line-height: 2.2;
	margin-top: 0.95em;
	letter-spacing: -0.5px;
	display: inline-block;
}
.sc_team_default_with_socials .sc_team_item_subtitle {
	font-size: 0.933em;
	font-weight: 500;
	text-transform: uppercase;
	margin-top: 0.5em;
}
.sc_team_default_with_socials .sc_team_item_title {
	font-size: 1.6em;
	font-weight: 500;
	margin: 0;
}
.sc_team_default_with_socials .post_featured {
	margin-bottom: 1.7em;
}
.sc_team_default_with_socials .sc_team_item {
	text-align: center;
}
.sc_team.sc_team_default_with_socials .sc_item_title + .sc_item_columns,
.sc_team.sc_team_default_with_socials .sc_item_subtitle + .sc_item_columns,
.sc_team.sc_team_default_with_socials .sc_item_descr + .sc_item_columns,
.sc_team.sc_team_default_with_socials .sc_item_title + .sc_item_content,
.sc_team.sc_team_default_with_socials .sc_item_subtitle + .sc_item_content,
.sc_team.sc_team_default_with_socials .sc_item_descr + .sc_item_content {
	margin-top: 5.2em;
}
.sc_team_default_with_socials .socials_wrap .social_item .social_icon {
	font-size: 0.9em;
	width: 2.889em;
	height: 2.889em;
	line-height: 2.889em;
}
.sc_team_default_with_socials .socials_wrap {
	margin: 0.8em -10px 0 0;
}
.sc_team_default_with_socials .socials_wrap .social_item {
	margin: 8px 10px 0 0;
}
.sc_services_light .sc_services_item_icon img {
	margin-bottom: 0!important;
}
.sc_services_light .sc_services_item {
	text-align: left;
}
.sc_services_light .sc_services_item_header {
	text-align: left;
}
.sc_services_light .sc_services_item_icon {
	font-size: 1em;
	line-height: 1;
}
.sc_services_light .sc_services_item_title {
	font-size: 0.933em;
	font-weight: 500;
	line-height: 1.8;
	text-transform: uppercase;
	padding-right: 2em;
	letter-spacing: 0;
}
.sc_services_light .sc_services_item_subtitle {
	display: none;
}
.sc_services_light .sc_services_item_featured_top.with_icon {
	text-align: left;
}
.sc_services_light .sc_services_item_info {
	padding-top: 1.1em;
}
.sc_services_light .trx_addons_columns_wrap.columns_padding_bottom > [class*="trx_addons_column-"],
.trx_addons_columns_wrap > [class*="trx_addons_column-"].columns_padding_bottom {
	padding-bottom: 0;
}
.sc_item_subtitle.sc_testimonials_subtitle:after {
	display: none;
}
.sc_button:not(.sc_button_simple) {
	padding: 1.7em 3em 1.6em;
}
.sc_title_descr i {
	font-style: normal;
	font-size: 1.333em;
	font-weight: 400;
}
.sc_button_subtitle {
	font-size: 0.643em;
	font-weight: 600;
	line-height: 9.44;
	text-transform: uppercase;
	line-height: 1.2;
	display: block;
	letter-spacing: -0.2px;
}
.sc_button_subtitle + .sc_button_title {
	font-size: 1.286em;
	font-weight: 500;
	text-transform: none;
	letter-spacing: -0.2px;
}
.sc_button_icon_left .sc_button_icon {
	margin-right: 0.45em;
	margin-top: 0px;
	position: relative;
	top: -3px;
	line-height: 1;
}
.sc_button.sc_button_iconed.sc_button_size_normal {
	padding: 1.2em 2.7em 0.9em;
}
.sc_blogger_classic .sc_blogger_item .sc_blogger_item_featured_container {
	position: relative;
}
.sc_blogger_classic .sc_blogger_item .sc_blogger_item_featured_container .post_featured .icons,
.sc_blogger_classic .sc_blogger_item .sc_blogger_item_featured_container .post_featured .mask {
	display: none;
}
.sc_blogger_classic .sc_blogger_item .sc_blogger_item_featured_container .post_meta {
	position: absolute;
	top: 13.5%;
	left: 5%;
	font-size: 1em;
	margin-top: 0;
}
.sc_blogger_classic .sc_blogger_item .sc_blogger_item_featured_container .post_meta .post_meta_item:before{
	display: none;
}
.sc_blogger_classic .sc_blogger_item .sc_blogger_item_featured_container .post_meta .post_meta_item a {
	display: inline-block;
	font-size: 0.8em;
	font-weight: 600;
	line-height: 1;
	text-transform: uppercase;
	padding: 13px 19px 11px;
	-webkit-border-radius: 3em;
	-ms-border-radius: 3em;
	border-radius: 3em;
}
.sc_blogger_classic .post_meta {
	font-size: 11px;
	font-weight: 500;
	text-transform: uppercase;
}
.sc_blogger_classic .sc_blogger_item .sc_blogger_item_header .post_meta {
	margin-top: 0;
}
.sc_price_link {
	display: block;
	width: 197px;
	margin: 1.35em auto auto;
	padding: 1.4em 0.2em 1.4em;
}
.sc_layouts_row_type_normal .sc_layouts_logo img {
	max-height: 40px;
}
.sc_blogger .sc_item_title + .sc_item_columns,
.sc_blogger .sc_item_subtitle + .sc_item_columns,
.sc_blogger .sc_item_descr + .sc_item_columns,
.sc_blogger .sc_item_title + .sc_item_content,
.sc_blogger .sc_item_subtitle + .sc_item_content,
.sc_blogger .sc_item_descr + .sc_item_content {
	margin-top: 5.1em;
}
.trx_addons_popup {
	height: 360px;
}
.vc_row.vc_row-has-fill .sc_testimonials [class*="column"] .sc_testimonials_item_content {
	font-weight: 500;
}
.sc_layouts_menu_nav .menu-collapse a {
	border: 0;
}