/* Tooltips */
.trx_addons_tooltip {
	border-bottom-style: solid;
}
.trx_addons_tooltip:before {
	font-size:1em;
	line-height:1.3em;
	padding: 0.6em 1em;
	-webkit-transform:translateX(-50%);
	    -ms-transform:translateX(-50%);
	        transform:translateX(-50%);
	-webkit-border-radius: 0 !important;
	    -ms-border-radius: 0 !important;
			border-radius: 0 !important;
}
.trx_addons_tooltip:after {
	margin-bottom:-8px;
	-webkit-transform:none;
	    -ms-transform:none;
	        transform:none;
}


/* Dropcaps */
.trx_addons_dropcap {
	font-size: 3.2em;
	font-weight: 700;
	text-transform: uppercase;
	padding: 0;
	margin: 0.1em 0.5em 0 0;
	width: 1.46em;
	height: 1.46em;
	line-height: 1.46em;
	-webkit-border-radius: 0;
	    -ms-border-radius: 0;
			border-radius: 0;
}
.trx_addons_dropcap.trx_addons_dropcap_style_2 {
	font-size: 4.2em;
	width: auto;
	height: auto;
	line-height: 1;
	margin-top: -0.05em;
	margin-right: 0.35em;
}

/* Tiny text */
.trx_addons_tiny_text {
	letter-spacing:2px;
}

/* Lists */
.trx_addons_list_parameters > li > strong,
.trx_addons_list_parameters > li > em {
	color:inherit;
}
.trx_addons_list_parameters > li > em {
	font-family:inherit;
}
ol[class*="trx_addons_list"],
ul[class*="trx_addons_list"] {
    line-height: 1.95;
}
ul[class*="trx_addons_list_dot"] > li:before,
ul[class*="trx_addons_list_custom"] > li:before {
    font-size: 1.25em;
    left: -0.95em;
    top: -0.15em;
}
ol[class*="trx_addons_list"] {
    counter-reset: num;
    padding-left: 1.4em;
}
ol[class*="trx_addons_list"] > li{
    list-style: none;
    position: relative;
}
ol[class*="trx_addons_list"] > li:before {
    counter-increment: num;
    content: counter(num)'.';
    display: inline-block;
    text-align: left;
    position: absolute;
    left: -1.4em;
}
ul[class*="trx_addons_list"][class*="_circled"] > li:before {
	width: 4.6em;
	height: 4.6em;
	line-height: 4.6em;
	top: -0.2em;
	left: -6.5em;
}
ul[class*="trx_addons_list_success"] > li {
	font-size: 1.333em;
	font-weight: 500;
	letter-spacing: -0.5px;
}
ul[class*="trx_addons_list_success"] > li + li {
	margin-top: 1.4em;
}

ul[class*="trx_addons_list_success"] > li:before {
	font-family: fontello;
	content: '\e93e';
}
ul[class*="trx_addons_list"][class*="_circled"] {
	padding-left: 4.7em;
}