/* Visual Composer styles
----------------------------------------------------------------- */
.vc_row.vc_parallax[class*="scheme_"] .vc_parallax-inner:before {
	content: ' ';
	position:absolute;
	z-index:1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.vc_row .wpb_column:not(.vc_col-sm-12) blockquote {
	margin: 0;
}

/* Row and Columns */
.vc_col-sm-12 {
	min-height:0;
}
.vc_row[data-vc-full-width]:not(.vc_parallax) {
	overflow: visible;
}
.vc_row.vc_row-o-full-height {
    min-height: 100vh !important;
}
.vc_row.vc_parallax[class*="scheme_"] .vc_parallax-inner:before {
	content: ' ';
	position:absolute;
	z-index:1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.vc_row .wpb_column:not(.vc_col-sm-12) blockquote {
	margin: 0;
}
.vc_col-has-fill > .vc_column-inner,
.vc_row-has-fill + .vc_row-full-width + .vc_row > .vc_column_container > .vc_column-inner,
.vc_row-has-fill + .vc_row > .vc_column_container > .vc_column-inner,
.vc_row-has-fill + .vc_vc_row > .vc_row > .vc_vc_column > .vc_column_container > .vc_column-inner,
.vc_row-has-fill + .vc_vc_row_inner > .vc_row > .vc_vc_column_inner > .vc_column_container > .vc_column-inner,
.vc_row-has-fill > .vc_column_container > .vc_column-inner,
.vc_row-has-fill > .vc_row > .vc_vc_column > .vc_column_container > .vc_column-inner,
.vc_row-has-fill > .vc_vc_column_inner > .vc_column_container > .vc_column-inner {
	padding-top: 0 !important;
}


/* Panels */
.vc_tta.vc_general .vc_tta-panels .vc_tta-panel-body {
	padding:2.4em 0;
}
.vc_tta.vc_general .vc_tta-panels .vc_tta-panel-body p {
	margin-bottom: 0;
}
.vc_tta.vc_general .vc_tta-panels .vc_tta-panel-body p + p {
	margin-top: 1em;
}

/* Accordion */
.vc_tta.vc_tta-accordion .vc_tta-panel-body,
.vc_tta.vc_tta-accordion .vc_tta-panel-heading {
	border: none !important;
	background: transparent !important;
}
.vc_tta.vc_tta-style-classic .vc_tta-panel.vc_active .vc_tta-panel-heading, .vc_tta.vc_tta-style-classic .vc_tta-panel:not(:last-child) .vc_tta-panel-heading, .vc_tta.vc_tta-style-modern .vc_tta-panel.vc_active .vc_tta-panel-heading, .vc_tta.vc_tta-style-modern .vc_tta-panel:not(:last-child) .vc_tta-panel-heading {
	margin-bottom: 1.6em;
}
.vc_tta.vc_tta-style-classic .vc_tta-panel.vc_active + .vc_tta-panel .vc_tta-panel-heading, .vc_tta.vc_tta-style-classic .vc_tta-panel:not(:first-child) .vc_tta-panel-heading {
	margin-top:1.6em;
}
.vc_tta.vc_tta-accordion .vc_tta-panel-title {
	font-size: 1em;
	line-height: 1.3em;
}
.vc_tta.vc_tta-accordion .vc_tta-panel-title .vc_tta-title-text {
	font-size: 2em;
	font-weight: 500;
	line-height: 1.2;
	text-transform: none;
}
.vc_tta.vc_tta-accordion .vc_tta-panel-heading .vc_tta-controls-icon-position-left.vc_tta-panel-title > a {
	padding-left: 4.2em;
}
.vc_tta.vc_tta-accordion .vc_tta-panel-heading .vc_tta-controls-icon-position-right.vc_tta-panel-title > a {
	padding-right: 4.2em;
	padding-left:0;
}
.vc_tta.vc_tta-accordion .vc_tta-panel-heading .vc_tta-controls-icon-position-left.vc_tta-panel-title > a > .vc_tta-controls-icon {
	left:0;
}
.vc_tta.vc_tta-accordion .vc_tta-panel-heading .vc_tta-controls-icon-position-right.vc_tta-panel-title > a > .vc_tta-controls-icon {
	right:0;
}
.vc_tta.vc_tta-accordion .vc_tta-panel-heading .vc_tta-controls-icon {
	width: 3.733em;
	height: 3.733em;
	line-height: 3.733em;
	border: 5px solid;
	-webkit-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	-webkit-transition: all ease .3s;
	    -ms-transition: all ease .3s;
	        transition: all ease .3s;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
.vc_tta.vc_tta-accordion.vc_tta-shape-rounded .vc_tta-panel-heading .vc_tta-controls-icon {
	border-radius: 5px;
}
.vc_tta.vc_tta-accordion.vc_tta-shape-round .vc_tta-panel-heading .vc_tta-controls-icon {
	border-radius: 50%;
}
.vc_tta.vc_tta-accordion .vc_tta-controls-icon-position-left .vc_tta-controls-icon {
	left: 0;
}
.vc_tta.vc_tta-accordion .vc_tta-controls-icon-position-right .vc_tta-controls-icon {
	right: 0;
}
.vc_tta.vc_tta-accordion .vc_tta-controls-icon.vc_tta-controls-icon-minus:before,
.vc_tta.vc_tta-accordion .vc_tta-controls-icon.vc_tta-controls-icon-plus:before {
	left:50%;
	right: auto;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	width: 9px;
	border-width: 1px 0 0 0;
}
.vc_tta.vc_tta-accordion .vc_tta-controls-icon.vc_tta-controls-icon-plus:after {
	top:50%;
	bottom: auto;
	border-width: 0 0 0 1px;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	height: 9px;
}
.vc_tta.vc_tta-accordion .vc_tta-panel:not(.vc_active) + .vc_tta-panel {
}

/* Tabs */
.vc_col-sm-6 .vc_tta.vc_tta-color-grey.vc_tta-style-classic .vc_tta-tab > a {
	padding: 1.35em 2.4em 1.35em!important;
}
.vc_col-sm-6 .vc_tta.vc_tta-color-grey.vc_tta-style-classic .vc_tta-tab + .vc_tta-tab {
	margin-left: 10px;
}
.vc_tta.vc_tta-color-grey.vc_tta-style-classic .vc_tta-tab > a {
	background-color:transparent;
	border: none;
	padding: 1.35em 3.4em 1.35em!important;
	font-size: 0.933em!important;
	font-weight: 500!important;
	line-height: 1.36!important;
	text-transform: uppercase;
	-webkit-border-radius: 3em!important;
	-ms-border-radius: 3em!important;
	border-radius: 3em!important;
}
.vc_tta.vc_tta-color-grey.vc_tta-style-classic .vc_tta-tab + .vc_tta-tab {
	margin-left: 30px;
}
.wpb-js-composer .vc_tta.vc_tta-controls-align-center .vc_tta-tabs-list {
}
.wpb-js-composer .vc_tta.vc_tta-style-classic .vc_tta-tab {
}
.wpb-js-composer .vc_tta.vc_tta-style-classic .vc_tta-panel-body, .wpb-js-composer .vc_tta.vc_tta-style-classic .vc_tta-panel-heading, .wpb-js-composer .vc_tta.vc_tta-style-classic .vc_tta-tab>a {
	border-width: 0!important;
}
.vc_tta.vc_general.vc_tta-tabs .vc_tta-panels .vc_tta-panel-body img {
	margin-bottom: 2.2em;
}
.vc_tta.vc_general.vc_tta-tabs .vc_tta-panels .vc_tta-panel-body {
	padding: 4.7em 0 0;
}


/* Separator */
.vc_separator {
	margin-top: 4.6334em;
	margin-bottom: 6.2em !important;
}

/* Progress bar */
.vc_progress_bar.vc_progress_bar_narrow .vc_single_bar {
	box-shadow: none;
	border-radius: 0;
	height: 7px;
	margin-top: 3.8em;
	margin-right: 3.3em;
}
.vc_progress_bar.vc_progress_bar_narrow .vc_single_bar .vc_bar {
	height: 7px;
	border-radius:0;
}
.vc_progress_bar.vc_progress_bar_narrow .vc_single_bar + .vc_single_bar {
	margin-top: 4.7em;
}
.vc_progress_bar.vc_progress_bar_narrow .vc_single_bar .vc_label {
	position: absolute;
	font-size: 0.933em;
	font-weight: 500;
	line-height: 1.57;
	text-transform: uppercase;
	font-style: normal;
	top: -2.2em;
	padding: 0;
	text-shadow: none;
	display: block;
	width: 100%;
	letter-spacing: 0px;
}
.vc_progress_bar.vc_progress_bar_narrow .vc_single_bar .vc_label .vc_label_units {
	position: absolute;
	z-index: 1;
	top: 1.7em;
	right: -3.5em;
	font-size: 1em;
	font-weight: 500;
}
.vc_progress_bar[class*="vc_custom"] {
	overflow: hidden;
	padding: 0 1.4em 0 4.65em;
}
.vc_progress_bar.vc_progress_bar_narrow[class*="vc_custom"] .vc_single_bar {
	margin-top: 6.1em;
	height: 10px;
}
.vc_progress_bar.vc_progress_bar_narrow[class*="vc_custom"] .vc_single_bar .vc_bar {
	height: 10px;
}
.vc_progress_bar.vc_progress_bar_narrow[class*="vc_custom"] .vc_single_bar + .vc_single_bar {
	margin-top: 4.5em;
}
.vc_progress_bar[class*="vc_custom"] .vc_single_bar:last-child {
	margin-bottom: 4.8em;
}
.wpb-js-composer .vc_tta-container {
	margin-bottom: 0!important;
}

/* Message Box */
.vc_message_box p {
	font-size: 1.6em;
	font-weight: 500;
	line-height: 1.25;
	letter-spacing: -0.5px;
}
.vc_message_box {
	padding: 3.1em 4.8em 3.4em 6.25em;
	border: 0!important;
	margin-bottom: 2em;
}
.vc_message_box-solid-icon {
	padding-left: 7em;
}
.vc_message_box-icon {
	width: 4.5em;
}
.vc_message_box .vc_message_box-icon > * {
	font-size: 1.6em;
}
.vc_message_box-solid-icon .vc_message_box-icon {
	width: 5em;
	font-weight: 500;
	font-size: 1em;
}
.vc_message_box:not(.vc_message_box-solid-icon) .vc_message_box-icon > * {
	left:auto;
	right:0.2em;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.vc_message_box-outline .vc_message_box-icon i  {												color: inherit; }
.vc_color-juicy_pink.vc_message_box-outline, .vc_color-juicy_pink.vc_message_box-solid-icon {	color: #f4524d; }
.vc_color-orange.vc_message_box-outline, .vc_color-orange.vc_message_box-solid-icon { 			color: #e39a31; }
.vc_color-vista_blue.vc_message_box-outline .vc_message_box-icon, .vc_color-vista_blue.vc_message_box-solid-icon .vc_message_box-icon i,
.vc_color-vista_blue.vc_message_box-outline, .vc_color-vista_blue.vc_message_box-solid-icon {	color: #9dbf00; }
.vc_color-vista_blue.vc_message_box-outline, .vc_color-vista_blue.vc_message_box-solid-icon {	border-color: #9dbf00; }
.vc_color-vista_blue.vc_message_box-solid-icon .vc_message_box-icon i {							background-color: #9dbf00; }
.vc_color-warning.vc_message_box {
	background-color: #fbcd69;
	color: #ffffff;
}
.vc_message_box .vc_message_box-icon,
.vc_message_box .vc_message_box-icon i {
	color: rgba(255, 255, 255, 0.6);
}
.vc_color-info.vc_message_box .vc_message_box-icon {
}
.vc_color-success.vc_message_box {
	color: #ffffff;
	background-color: #a0d76a;
}
.vc_color-grey.vc_message_box-solid .vc_message_box-icon {
	color: #3a3a3a;
}
.vc_color-success.vc_message_box .vc_message_box-icon {
}
.vc_message_box_closeable {
	position:relative;
}
.vc_color-grey.vc_message_box-solid .vc_message_box-icon {
	display: none;
}
.vc_color-grey.vc_message_box-solid {
	padding-left: 3.5em;
}
.vc_color-grey.vc_message_box-solid {
	color: #494848;
	background-color: #ece9e4;
}
.vc_color-info.vc_message_box {
	background-color: #5fa5c6;
	color: #ffffff;
}
.vc_message_box_closeable.vc_color-grey.vc_message_box-solid:after {
	background-color: #dad9d8;
}
.vc_message_box_closeable:after {
	content: '\e8ac';
	font-family:'fontello';
	font-size: 1.5em;
	font-weight:500;
	padding:0;
	color: inherit;
	cursor:pointer;
	position:absolute;
	top: 50%;
	right: 1.6em;
	-webkit-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	transform:translateY(-50%);
	width: 1.511em;
	height: 1.511em;
	line-height: 1.511em;
	-webkit-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.2);
	color: #ffffff;
	text-align: center;
}

/* Text block after slider or video */
.wpb_text_column[class*="scheme_"] {
	padding: 2rem 2.4rem;
}
.wpb_text_column h1:first-child,
.wpb_text_column h2:first-child,
.wpb_text_column h3:first-child,
.wpb_text_column h4:first-child,
.wpb_text_column h5:first-child,
.wpb_text_column h6:first-child {
	margin-top:0;
}

/* Google maps */
.wpb_gmaps_widget .wpb_wrapper {
	padding:0;
}
.wpb-js-composer .vc_tta.vc_general .vc_tta-panel-title>a {

}
.vc_tta.vc_tta-accordion .vc_tta-panel {
	padding: 2.4em 3.05em 2.6em 4.55em;
}
.vc_tta.vc_tta-accordion  .vc_tta-panel-body {
	padding: 1.05em 4.3em 0.95em 0!important;
}
.wpb-js-composer .vc_tta .vc_tta-controls-icon.vc_tta-controls-icon-chevron:before {
	content:'\e828' !important;
	font-family: 'fontello' !important;
	-webkit-transform: rotate(0deg) translate(0,0) !important;
	-ms-transform: rotate(0deg) translate(0,0) !important;
	transform: rotate(0deg) translate(0, 0) !important;
	font-style: normal;
	border: 0!important;
	text-align: center;
	font-size: 1.8em;
	font-weight: bold;
	line-height: 1.7;
	top: 0!important;
	left: 0!important;
	right: 0!important;
	bottom: 0!important;
	padding-right: 2px;
}
.wpb-js-composer .vc_tta .vc_active .vc_tta-controls-icon.vc_tta-controls-icon-chevron:before {
	-webkit-transform: rotate(180deg) translate(0,0) !important;
	-ms-transform: rotate(180deg) translate(0,0) !important;
	transform: rotate(180deg) translate(0, 0) !important;
	padding-right: 0;
}
.wpb-js-composer .vc_tta-style-flat.vc_tta-tabs.vc_tta-tabs-position-top .vc_tta-tabs-container:before {
	content: '';
	display: block;
	width: 100%;
	height: 0;
	border-top: 8px solid #ffffff;
	overflow: visible;
	margin-top: 6px;
}
.wpb-js-composer .vc_tta-style-flat.vc_tta-tabs.vc_tta-tabs-position-top .vc_tta-tabs-container {
	padding-bottom: 34px!important;
}
.wpb-js-composer .vc_tta-style-flat.vc_tta.vc_general .vc_tta-tab>a {
	padding: 0;
}
.wpb-js-composer .vc_tta-style-flat.vc_tta.vc_general .vc_tta-tabs-list {
	overflow: visible;
}
.wpb-js-composer .vc_tta-style-flat.vc_tta.vc_general .vc_tta-tab a {
	background: transparent;
	font-size: 1.067rem;
	font-weight: 500;
	line-height: 1.5;
	border: 0;
}
.wpb-js-composer .vc_tta-style-flat.vc_tta.vc_general .vc_tta-tab {
	position: relative;
	margin: 0;
	background: transparent;
	margin-top: 9px;
}
.wpb-js-composer .vc_tta-style-flat.vc_tta.vc_general .vc_tta-tab:after {
	content: '';
	position: absolute;
	width: 15px;
	height: 15px;
	-webkit-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	top:-4px;
	left:50%;
	background: #ffffff;
	display: block!important;
	-webkit-transform:translateX(-50%) translateY(-100%);
	-ms-transform:translateX(-50%) translateY(-100%);
	transform:translateX(-50%) translateY(-100%);
}
.wpb-js-composer .vc_tta-style-flat.vc_tta.vc_general .vc_tta-tab.vc_active:before {
	opacity: 1;
}
.wpb-js-composer .vc_tta-style-flat.vc_tta.vc_general .vc_tta-tab:before {
	content: ' ';
	position: absolute;
	z-index: 1;
	bottom: -50px;
	left: 50%;
	width: 0;
	height: 0;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-bottom: 16px solid red;
	-webkit-transform:translateX(-50%) translateY(-100%);
	-ms-transform:translateX(-50%) translateY(-100%);
	transform:translateX(-50%) translateY(-100%);
	background: inherit;
	opacity: 0;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
.wpb-js-composer .vc_tta-color-grey.vc_tta-style-flat .vc_tta-tab>a:hover,
.wpb-js-composer .vc_tta-color-grey.vc_tta-style-flat .vc_tta-tab.vc_active>a {
	background: transparent!important;
}
.vc_tta.vc_general.vc_tta-tabs.vc_tta-style-flat .vc_tta-panels .vc_tta-panel-body {
	padding: 3em 4em 3.1em;
}
.wpb-js-composer .vc_tta.vc_tta-controls-align-center.vc_tta-tabs.vc_tta-style-flat .vc_tta-tabs-list {
	display: flex !important;
	justify-content: space-between!important;
}
.wpb-js-composer .vc_tta.vc_tta-style-classic.vc_tta-tabs.vc_tta-style-flat .vc_tta-tab {
	/*flex-grow: 1;*/
}
.body_style_boxed footer .vc_row[data-vc-full-width]:not(.vc_parallax) {
	left: 15px!important;
}