@charset 'utf-8';
/*
  Theme Name: OnLeash Child
  Theme URI: http://onleash.ancorathemes.com/
  Description: OnLeash - Multipurpose and Multiskin Responsive Wordpress theme
  Author: AncoraThemes
  Author URI: http://ancorathemes.com/
  Template: onleash
  Version: 1.0
  Tags: light, responsive-layout, flexible-header, accessibility-ready, custom-background, custom-colors, custom-header, custom-menu, featured-image-header, featured-images, full-width-template, microformats, post-formats, theme-options, threaded-comments, translation-ready
  Text Domain:  onleash
*/

/* =Theme customization starts here
-------------------------------------------------------------- */
header.top_panel_custom {
  padding-bottom: 0;
}
.sc_layouts_row_type_compact .sc_layouts_logo img {
  max-height: 100px!important;
  margin: 0!important;
}

.rev_slider .defaultimg:after, .dark-overlay:before {
  background-image: linear-gradient(rgba(0,0,0,.42),rgba(0,0,0,.42));
  background-color: rgba(0,0,0,.42);
  display: block;
  content: "";
  bottom: 0;
  left: 0;
  position: absolute;
  opacity: .42;
  right: 0;
  top: 0;
  z-index: 0;
}
.rev_slider .tp-bullets.custom .tp-bullet, .scheme_default .vc_row.vc_row-has-fill .sc_testimonials .slider_swiper .slider_pagination_wrap.swiper-pagination .swiper-pagination-bullet, .scheme_default .vc_row.vc_row-has-fill .sc_testimonials .slider_swiper_outer .slider_pagination_wrap.swiper-pagination .swiper-pagination-bullet  {
  background: none;
  background-color: transparent;
  height: 1.75rem;
  margin: 6px 0 0 0;
  padding-bottom: 6px;
  width: 1.75rem;
}
.rev_slider .tp-bullets.custom .tp-bullet:before, .slider_swiper .swiper-pagination .swiper-pagination-bullet:before, .slider_swiper_outer .swiper-pagination .swiper-pagination-bullet:before {
  border: none;
  bottom: 0;
  color: #783B83;
  content: "\f1b0";
  font-family: FontAwesome;
  font-size: 1.75rem;
  left: 0;
  opacity: 1;
}
.slider_swiper .swiper-pagination .swiper-pagination-bullet:before, .slider_swiper_outer .swiper-pagination .swiper-pagination-bullet:before {
  color: aliceblue;
}
.rev_slider .tp-bullets.custom .tp-bullet.selected:before {
  color: #ece9e4;
  height: 1.75rem;
}
.slider_swiper .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active:before, .slider_swiper_outer .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active:before {
  color: antiquewhite;
  height: 1.75rem;
}
.rev_slider .tp-bullets.custom .tp-bullet.selected:after, .slider_swiper .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active:after, .slider_swiper_outer .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active:after {  
  border-bottom: 0 solid #3d1644;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  width: 100%;
}

.sc_price_info {
  text-align:left!important;
}
.sc_price_description {
  padding: 0!important;
}

.trx_addons_popup input[type="text"],
.trx_addons_popup input[type="password"] {
    background-color: #fff;
}

.sticky .post_title:after, .sidebar .widgettitle:after, .sidebar .widget_title:after, .sc_item_subtitle:after, .sc_team_short .sc_team_item_subtitle:after, .sc_promo_blockquote_title:after {
  background-image: url(assets/images/line.png);
}
.sc_item_subtitle.sc_item_title_style_default_with_wite_icon:after,
.sc_item_subtitle.sc_item_title_style_inverse_with_icon:after {
  background-image: url("assets/images/line_inverse.png");
}

.scheme_default .wpb-js-composer .vc_tta-color-grey.vc_tta-style-flat.light-links .vc_tta-tab.vc_active>a {
  color: #F4D365 !important;
}
.scheme_default .wpb-js-composer .vc_tta-color-grey.vc_tta-style-flat.light-links .vc_tta-tab.vc_active>a:hover {
  color: #ddb837 !important;
}
.sc_item_subtitle.sc_item_title_style_inverse, .sc_item_subtitle.sc_item_title_style_inverse_with_icon, .dark-overlay.scheme_dark .sc_item_subtitle, .scheme_default .vc_row-has-fill ul[class*="trx_addons_list"][class*="_circled"]>li, .scheme_dark .sc_layouts_item_icon {
  color: #fff !important;
}
.scheme_dark.dark-overlay.vc_row.vc_row-has-fill .sc_testimonials_item {
  background-color: rgba(120,59,131,0.35);
}

.sc_testimonials_columns {
  column-count: 2;
  column-gap: 0;
}
.trx_addons_column-1_2 {
  break-inside: avoid;
  padding: 5px;
}
.sc_testimonials_item {
  padding: 10px;
  border-radius: 10px;
}
.sc_testimonials_columns .trx_addons_column-1_2 {
  width: auto;
}

.scheme_default .sc_testimonials_item .sc_testimonials_item_content {
  color: #fff;
}
.scheme_default .sc_testimonials_item .sc_testimonials_item_author_data, .scheme_default .sc_testimonials_item .sc_testimonials_item_author_title, .scheme_default .sc_testimonials_item .sc_testimonials_item_author_subtitle {
  color: #FFC20E;
  max-width: 100%;
  padding-left: 0;
  text-align: center;
}
.eg-testimonials-content, .eg-testimonials-content div {
  background: #783B83!important;
  color:#fff!important;
}
.scheme_default .sc_testimonials_item .sc_testimonials_item_author_data {
  border: none;
  width: 100%;
}

.sc_price_image:hover .sc_price_subtitle_container {
  height: 4.15em!important;
}
.sc_price_image:hover .sc_price_subtitle>span {
  top: inherit !important;
    -webkit-transform: translateY(0) !important;
    -ms-transform: translateY(0) !important;
    transform: translateY(0) !important;
}

.vc_row-fluid .sc_testimonials_item_author_avatar {
  margin-left: 0;
    margin-right: 0;
    margin-bottom: 0.5em;
    width: 9em;
    height: 9em;
}

.vc_row-fluid .sc_testimonials_item_author_data {
    margin-top: 1.5em;
}

div.tab-bg-purple.scheme_default .vc_tta-color-grey.vc_tta-style-flat.vc_tta-tabs .vc_tta-panels {
  background-color: rgba(120,60,131,0.2)!important;
}
div.tab-bg-purple.scheme_default .vc_tta-color-grey.vc_tta-style-flat.vc_tta-tabs .vc_tta-panels i {
  color: #fff!important;
}
div.tab-bg-purple.scheme_default .vc_tta-style-flat.vc_tta.vc_general .vc_tta-tab:before {
  border-bottom-color: rgba(120,60,131,0.2)!important;
}
div.purple-bg {
  background: #783C83!important;
}
div.purple-bg h2 {
  color: #fff!important;
}
.center-bg {
  background-position: center;
  background-size: cover;
}
.wpcf7-form.sent p, .wpcf7-form.sent .sc_form_field_button {
  display: none;
}
  
.wpcf7-form input,
.wpcf7-form textarea,
.wpcf7-form textarea.wp-editor-area,
.wpcf7-form .select_container,
.wpcf7-form select,
.wpcf7-form .select_container select {
  border: 1px solid;
}

.wpcf7-form.sc_form_form input[type="submit"] {
  width: auto;
}
div.wpcf7-response-output {
  bottom: initial;
  margin: initial;
  padding: initial;
  position: relative;
}

.footer_wrap .vc_col-sm-4 .widget li {
  width: 100%;
}

@media (max-width: 767px) {
  .sc_layouts_menu_mobile_button {
    text-align: center;
    width: 100%;
  }
  .vc_row .sc_layouts .vc_row-has-fill {
    background-position: center!important;
  }
}

p:empty {
  display: none;
  margin: 0;
}

.wa-apis-instafeed .slick-next:before, .wa-apis-instafeed .slick-prev:before {
  opacity: 1 !important; }
  .wa-apis-instafeed .slick-next:before:before, .wa-apis-instafeed .slick-prev:before:before {
    font-family: "Font Awesome 5 Pro" !important; }

.wa-apis-instafeed .slide .overlay-container .content:before {
  display: block !important; }

.wa-apis-instafeed .slide:hover .overlay-container .content:before {
  opacity: 1 !important; }

@media (min-width: 768px) {
  .wa-apis-instafeed .slick-list .slick-track > .slick-slide, .wa-apis-instafeed .slick-list .slick-track > .slide {
    margin-left: 0rem; } }

    .slick-prev, .slick-next {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  background: transparent;
  border: none;
  cursor: pointer;
  display: block;
  font-size: 0px;
  line-height: 0px;
  min-width: 20px;
  padding: 0;
  outline: none;
  transition: 0.25s background-color, 0.25s color; }
  .slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before, .slick-next:hover:before, .slick-next:focus:before {
      color: #C31230;
      opacity: 0.8; }
  .slick-prev.slick-disabled:before, .slick-next.slick-disabled:before {
    opacity: 1; }
  .slick-prev:before, .slick-prev .fas, .slick-next:before, .slick-next .fas {
    font-size: 2.5rem;
    line-height: 1;
    color: #fff;
    opacity: 0.75;
    transition: 0.25s background-color, 0.25s color;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev, .slick-next {
  font-family: "ec-theme"; }

.slick-prev {
  left: 1rem;
  z-index: 1; }
  .slick-prev:before {
    content: "\e901";
    font-weight: 400; }

.slick-next {
  right: 1rem;
  z-index: 1; }
  .slick-next:before {
    content: "\e909";
    font-weight: 900; }

.slick-dotted.slick-slider {
  margin-bottom: initial;
  margin-left: initial;
  margin-right: initial; }

.slick-dots {
  position: absolute;
  top: initial;
  left: initial;
  bottom: 0;
  right: 0;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    min-height: 20px;
    min-width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
    text-align: center;
    padding: 2rem; }
    .slick-dots li button {
      align-items: center;
      border: 0;
      background: transparent;
      display: flex;
      justify-content: center;
      outline: none;
      height: 0.75rem;
      width: 0.75rem;
      line-height: 0.75rem;
      font-size: 0px;
      color: transparent;
      cursor: pointer;
      padding: 0; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 0.8; }
      .slick-dots li button:before {
        font-size: 0.75rem;
        line-height: 0.75rem;
        text-align: center;
        color: #868e96;
        opacity: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li button {
      font-family: "ec-theme"; }
      .slick-dots li button:before {
        font-family: "ec-theme"; }
    .slick-dots li button:before {
      content: "\e90a"; }
    .slick-dots li.slick-active button:before {
      color: #C31230;
      opacity: 0.75; }

div:not(.modal) .slick-add .slick-slide {
  margin-left: auto;
  margin-right: auto;
  text-align: center; }
  div:not(.modal) .slick-add .slick-slide img {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    text-align: center; }

.slick-add {
  margin-left: 0; }
  .slick-add:not(.slick-initialized) > div {
    display: none; }
  .slick-add > div:first-child {
    display: block; }
  .slick-add.slick-slider {
    display: block; }
  .slick-add.slick-initialized {
    padding: 0; }
    .slick-add.slick-initialized.slick-nav li {
      padding: 5px; }
      .slick-add.slick-initialized.slick-nav li.slick-slide {
        visibility: visible; }

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
  margin: 0; }
  .slick-slider.slick-full {
    padding: 0; }
    .slick-slider.slick-full .slick-prev {
      left: 0;
      z-index: 1; }
    .slick-slider.slick-full .slick-next {
      right: 0;
      z-index: 1; }

.slick-list {
  display: block;
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
  width: 100%; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
  height: 100%; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-initialized .slick-slide {
  display: block; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

.slick-track {
  display: flex;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 0;
  width: 100%; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }

.slick-slide {
  display: none;
  float: left;
  min-height: 1px;
  transition: width 0.1s linear, height 0.1s linear;
  width: 100%; }
  .slick-slide figure {
    overflow: hidden; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-slide.overlay {
    position: relative;
    transition: visibility 0.45s ease-in; }
    .slick-slide.overlay:not(.slick-active) {
      visibility: hidden; }
  .slick-slide .info {
    bottom: 0;
    color: #fff;
    left: 0;
    min-height: 4rem;
    pointer-events: none;
    position: absolute;
    width: 100%;
    z-index: 1; }
    .slick-slide .info:before {
      background: rgba(0, 0, 0, 0.7);
      /* FF3.6-15 */
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.82) 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      bottom: 0;
      content: '';
      height: 150%;
      left: 0;
      position: absolute;
      width: 100%;
      z-index: -1; }

.slick-arrow.slick-hidden {
  display: none; }

#instafeed .slick-list, #instafeed .slick-track, #instafeed .slick-slide {
  position: relative; }
  #instafeed .slick-list img.main, #instafeed .slick-track img.main, #instafeed .slick-slide img.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }